# String

String is the collection of characters that we given in single, double or tripple inverted commas.
string is text data type
for multiline string we use tripple inverted commas.

eg. a='python'
    a="python"
    a="""python"""

In [1]:
string = 'Python'

type(string)

str

Positive Indexing?
Indexing starts from left & goes to right.
It starts from +ve index, default is 0th index & goes to +infinity indexing
Indexingexing has to be accessed using square brackets

## Length Method

to find length of string

syntax:
    len(string_name)

In [2]:
len(string)

6

In [3]:
string[0]

'P'

## Indexing

Positive indexing:
    indexing starts from left to right.
    it starts from +ve index, default is 0th index & goes to +infinity
    indexing has to be accessed using square brackets
    
syntax:
    string_name[index_number]

In [4]:
string[5]

'n'

In [5]:
string[-4]

't'

## Slicing

syntax:
    string_name[start_index : end index : step_size]
   
step size is optional bydefault it is 1. 
step size will keep the gap of mentioned step size bewt.the indexing.
step size is positive >> left to right
step size is negative >> right to left
 
eg. string[0:6:1]
    string[2:len(string):2]
    string[::]

P y t h o n
0 1 2 3 4 5

In [6]:
string='python and data science'
print(string[0:6:1])
print(string[2:len(string):2])
print(string[::])

python
to n aasine
python and data science

negative slicing:
for negative slicing start index is always greater than end endex.
 
 eg. string[-1]
     string[-1::-1]

P   y  t  h  o  n
-6 -5 -4 -3 -2 -1

In [8]:
print(string[-1])
print(string[-1::-1])

e
ecneics atad dna nohtyp

In [1]:
my_string = 'Python is New & Intresting'

my_string[0] + ' '+my_string[10:13:1] + ' '+my_string[16:23:1]

print(my_string[0] + my_string[9:13:1] + my_string[15:23:1])

P New Intrest

In [2]:
String = """Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small- and large-scale projects"""

In [3]:
String

'Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small- and large-scale projects'

## Capitalize()

It capitalize only 0th index letter(first character of the string)

syntax:
    string_name.capitalize()

In [4]:
string = 'python'

string.capitalize()

'Python'

In [5]:
country = ' india is my country'
country = country.capitalize()
country

' india is my country'

## String Casting()

In [6]:
string = str(input("Give away any string here: "))
print(string)
print(type(string))

Give away any string here: 65
65
<class 'str'>

## Upper()

It converts everthing into uppercase.

Syntax:
    string_name.upper()

In [8]:
country = 'india is my country. all Indians are my brothers & sisters'

country.upper()

'INDIA IS MY COUNTRY. ALL INDIANS ARE MY BROTHERS & SISTERS'

## Lower()

It Converts everything into lowercase.

syntax:
    string_name.lower()

In [9]:
country = 'India is my country. All Indians are my brothers & sisters'

country.lower()

'india is my country. all indians are my brothers & sisters'

In [10]:
adhar_name = 'PRANAV SANGAME'
pan_name = 'pranav sangame'

if adhar_name.lower() == pan_name.lower():
    print('same person')
else:
    print('not the same person')

same person

## Title()

Convert string into titlecase. (first word of the string.)

syntax:
    string_name.title()

In [11]:
country = 'India is my country. All Indians are my brothers & sisters'

country.title()

'India Is My Country. All Indians Are My Brothers & Sisters'

## Swapcase()

Uppercase letters are converted into lowercase and lowercase letters are converted into uppercase.

syntax:
    string_name.swapcase()

In [12]:
string = 'INDIA is my country. ALL indians are my Brothers & Sisters.'

string.swapcase()

'india IS MY COUNTRY. all INDIANS ARE MY bROTHERS & sISTERS.'

## lstrip()

Left strip: removes all the spaces from the initial side of the string

syntax:
    string_name.lstrip()

In [13]:
country = '                   india is my country. All Indians are my brothers & sisters'
country=country.lstrip()
print(country)
country.capitalize()

india is my country. All Indians are my brothers & sisters

'India is my country. all indians are my brothers & sisters'

## rstrip()

Right Strip: removes all spaces from the end side of the string.

syntax: 
    string_name.rstrip()

In [14]:
string= 'india is my country. all indians are my brothers & sisters           '
string.rstrip()

'india is my country. all indians are my brothers & sisters'

## Replace

If we want to change in string then we use replace function.

syntax:
       string_name.replace('old_entity_want_to_change','new_entity_you_want')

eg. string.replace('i','*')  # i is replaced with * symbol.

In [16]:
string = 'INDIA is my country. ALL indians are my Brothers & Sisters.'
string

'INDIA is my country. ALL indians are my Brothers & Sisters.'

In [17]:
string.replace('INDIA','India')

'India is my country. ALL indians are my Brothers & Sisters.'

In [19]:
processed_string=string.replace('INDIA','India').replace('ALL','All')
processed_string

'India is my country. All indians are my Brothers & Sisters.'

In [20]:
string.replace('i','*')

'INDIA *s my country. ALL *nd*ans are my Brothers & S*sters.'

## del

deletes the variable from memory.

syntax:
    del string_name

In [21]:
string1='python and data science'
print(string1)
del string1
print(string1)

python and data science

NameError: name 'string1' is not defined

## len()

Counts total number of characters including special character in the string.

syntax:
    len(string_name)

In [22]:
name = 'Sachin'
len(name)

6

## Count

It counts perticuler(which we want) entity in the string.

syntax:
    string_name.count('entity_to_be_counted')
    
    string_name.count('entity_to_be_counted',start_index,end_index)
    here start_index and end_index is optional.

In [23]:
string

'INDIA is my country. ALL indians are my Brothers & Sisters.'

In [24]:
string.count('my')

2

In [25]:
string.count('my',0,30)

1

## Find

It serches index number for entity we want.
if entity not present in string then returns -1 output

syntax:
    string_name.find('entity_to_be_find')

In [26]:
string = 'INDIA is my country. ALL indians are my Brothers & Sisters.'

string.find('ALL')

21

## Index

it works as same as find function.
but if entity not found in string then returns error.

syntax:
    string_name.index('entity',start_index,end_index)
    
    here index is optional.

In [27]:
string.index('A',20,-1)

21

In [28]:
string[string.index('ALL'):]

'ALL indians are my Brothers & Sisters.'

## split

split will actually split the substring & return them all in a list format.
bydefault splitting parameter is space.

syntax:
    string_name.split()    # it is spliting by space
    
 It converts string to list.

In [29]:
string1='python and data science'
list1=string1.split()
print(list1)

rlist=list1[-1::-1]
rlist
rse=rlist[0][-1::-1]
rse

['python', 'and', 'data', 'science']

'ecneics'

In [32]:
raw_data = '''65431232 6541321
3213216
6513212 6513551'''

raw_data.split('\n')

['65431232 6541321', '3213216', '6513212 6513551']

## Join

it joins the substring into one string.

syntax:
    'prameter'.join(string_name/variable_name)

It converts list to string.

In [30]:
print(rlist)
s2=' '.join(rlist)
print(s2)
print(type(s2))

['science', 'data', 'and', 'python']
science data and python
<class 'str'>

In [34]:
string = 'Python is an intresting is language'
string_list = string.split()
print('string list is: ',string_list)
string_list.pop(-2)
string_list

string list is:  ['Python', 'is', 'an', 'intresting', 'is', 'language']

['Python', 'is', 'an', 'intresting', 'language']

In [35]:
''.join(string_list)

'Pythonisanintrestinglanguage'

## startswith

It checks whether if a string starts with a definte substring.
It returns True or False boolean values.

syntax:
    string_name.startswith('entity')
    
    here if string stared with given entity then it returns True else False.

In [38]:
string.startswith('P')

True

In [37]:
string.endswith('science')

False

## Endswith

It checkes whether if a string ends with a definite substring.
It returns True or False boolean values.

syntax:
    string_name.endswith('entity')
    
    here if string ended with given entity then it returns True else False.

In [39]:
students_names = ['  Ankit', 'Bharat', ' Akshay', 'Yogesh']

for name in students_names:
    if name.strip().startswith('A'):print(name)

  Ankit
 Akshay

## isalnum

only alphabets or numericals should be present in the string.
It returns True or Faluse boolean values.

syntax:
    variable_name.isalnum()

## isalpha

only concered with alphabets & not numbers or special characters.
It returns True or Faluse boolean values.

syntax:
    string_name.isalpha()

## isdecimal

only concered with numbers and few unicode characters.
special characters are not allowed.
range of unicode characters for numbers 0-9 is from unicode of 30-39
It returns True or Faluse boolean values.

syntax:
    variable_name.isdecimal()

## isdigit

supports all numbers & unicodes & subscript & superscript
special chars are not allowed
It returns True or Faluse boolean values.

syntax:
    variable_name.isdigit()

## isnumeric

supports all numbers & unicodes & subscript & superscript & valgar
special chars are not allowed
It returns True or False boolean values.

syntax:
    variable_name.isnumeric()

## islower

small alphabets, numbers and special characters
It returns True or Faluse boolean values.

syntax:
    variable_name.islower()

## isupper

capital alphabets, numbers and special characters
It returns True or Faluse boolean values.

syntax:
    variable_name.isupper()

## istitle

alphabets, numbers, special characters
The first letter of every word has to be capital
It returns True or Faluse boolean values.

syntax:
    variable_name.istitle()

## isspace

In [ ]:
True when there are only spaces & nothing else otherwise False

syntax:
    variable_name.isspace()

## chr()

it transforms the ASCII values to characters
the range of ASCII is 65-90 for [A-Z]
the range for ASCII 97-122 is for [a-z]

syntax:
    chr(value)

In [40]:
chr(65)

'A'

In [41]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

## ord

converts english charcters to ASCII numbers

In [42]:
ord('A')

65

## zfill()

It adds zeros at the begining of the string
total count - number of letters present

syntax:
    variable_name.zfill(number_of_zeros)

## center

when we have even no of letters in string & odd no passed in centre function then we have 1 additional space at the begening of the string.
when we have odd count of letters in string & even number passed in center function then 1 additional space will be found at the end.

syntax:
    variable_name.center(number_of_characterrs)

In [31]:
s='123'
s.center(9)

'   123   '