# List

List is the colections of items. entities that are separated by comma
list is used to store various data types that can include int, float, complex, string, list, tuple, set, dict, dataframes etc...

Whenever list is called, it returns the ordered data
List is also Mutable/ changeble/ editable. (the values inside the list can be modified, changed, removed)
list also allows duplicate items

eg. a=[5,7,8,'python','a',6.5]

## Indexing

indexing starts from 0th index for positive indices and goes till end of list.
indexing starts from -1th index for negative indices & goes till the beginning of the list.

syntax:
    variable_name[index_number]
    
    its returns entity of that index number.

In [1]:
list1 = [1,3,5,7,'Sachin']
list1[0]

1

In [2]:
list1[0:2]

[1, 3]

In [3]:
len(list1)    #How many items does the list consist off..

5

## Slicing

Slicing is the same as indexing, here we can slice the list with some parts.

syntax:
    variable_name[start_index:end_index:step_size]
    
    variable_name[::-1]   #reverseing a list

In [4]:
list1 = [1,3,5,7,'Sachin']
list1[:]

[1, 3, 5, 7, 'Sachin']

In [5]:
list1[1:5]

[3, 5, 7, 'Sachin']

In [6]:
list1[-1:-5:-1]

['Sachin', 7, 5, 3]

## Checking the items in the list

for checking the entity in the list we use in parameter,

In [1]:
#eg. using if else statement:
list1=[2,5,1,4]
if 1 in list1: print("1 is present")

1 is present

In [7]:
print('1.2 is present') if 1.2 in list1 else print('1.2 is not there in the list')

1.2 is not there in the list

In [9]:
cities = ['Mumbai','Pune','Kolkata','Chennai','Delhi','Nagpur']
for city in cities:
    print(city)

Mumbai
Pune
Kolkata
Chennai
Delhi
Nagpur

In [10]:
variable = 'Salena Gomez sings well'
variable = variable.split(' ')
print("my variable list is: ", variable)

for i in variable:
    print(i)

my variable list is:  ['Salena', 'Gomez', 'sings', 'well']
Salena
Gomez
sings
well

In [11]:
variable = 'Salena Gomez sings well'

for i in range(5):
    print(variable)

Salena Gomez sings well
Salena Gomez sings well
Salena Gomez sings well
Salena Gomez sings well
Salena Gomez sings well

In [12]:
cities = ['Mumbai','Pune','Kolkata','Chennai','Delhi','Nagpur']

index = 0

for item in cities:
    print(f'my {index+1}th loop is running where city at index {index} is {item}')
    index = index + 1

my 1th loop is running where city at index 0 is Mumbai
my 2th loop is running where city at index 1 is Pune
my 3th loop is running where city at index 2 is Kolkata
my 4th loop is running where city at index 3 is Chennai
my 5th loop is running where city at index 4 is Delhi
my 6th loop is running where city at index 5 is Nagpur

In [13]:
cities = ['Mumbai','Pune','Kolkata','Chennai','Delhi','Nagpur']

for i,j in enumerate(cities):
    print(i,j,sep=' >> ')

0 >> Mumbai
1 >> Pune
2 >> Kolkata
3 >> Chennai
4 >> Delhi
5 >> Nagpur

## Range

range function gives serial numbers in a list.

syntax:
    range(start_index, end_index, step_size)

In [14]:
range(0,5)

range(0, 5)

In [15]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,5,2))

[0, 2, 4]

In [17]:
list(range(-5,-1,1))

[-5, -4, -3, -2]

In [18]:
list(range(-1,-5,-1))

[-1, -2, -3, -4]

## Append

append is uesd to add the item in list
bydefault it adds the item at the -1 index(last index)
when multiple items to append, they will be added as a sublist

syntax:
    list_name.append('entity')

In [19]:
soccer = ['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar']
soccer

['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar']

In [21]:
soccer.append('Messi')
soccer

['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar', 'Messi', 'Messi']

In [22]:
soccer.append(['kaka','Robert'])
soccer

['Cristiano',
 'Ronaldo',
 'Ronaldino',
 'Zadden',
 'Neymar',
 'Messi',
 'Messi',
 ['kaka', 'Robert']]

In [23]:
soccer = ['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar','Messi']
players = ['Kaka','Robert','Kewin','Luis']

for player in players:
    soccer.append(player)
    
    print(soccer)

['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar', 'Messi', 'Kaka']
['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar', 'Messi', 'Kaka', 'Robert']
['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar', 'Messi', 'Kaka', 'Robert', 'Kewin']
['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar', 'Messi', 'Kaka', 'Robert', 'Kewin', 'Luis']

In [24]:
soccer = ['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar','Messi']
players = ['Kaka','Robert','Kewin','Luis']

for player in players:
    soccer.append(player)
    

print("Soccer updated list is",soccer)

Soccer updated list is ['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar', 'Messi', 'Kaka', 'Robert', 'Kewin', 'Luis']

## Extend

Extend is used to add the items in list.
by default it adds items at the -1 index of the list.
when multiple items to add, they will added as single items seperatly.

syntax:
    list_name.extend(entity)

In [26]:
soccer = ['Cristiano', 'Ronaldo', 'Ronaldino', 'Zadden', 'Neymar','Messi']
players = ['Kaka','Robert','Kewin','Luis']

soccer.extend(players)
soccer

['Cristiano',
 'Ronaldo',
 'Ronaldino',
 'Zadden',
 'Neymar',
 'Messi',
 'Kaka',
 'Robert',
 'Kewin',
 'Luis']

In [27]:
string = 'abcdefg'
list(string)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [28]:
string = list('1234567789')
string

['1', '2', '3', '4', '5', '6', '7', '7', '8', '9']

In [29]:
s = '1234567789'
even=[]
odd=[]
for i in s:
    if int(i)%2==0:
        even.append(int(i))
    else:
        odd.append(int(i))
even,odd

([2, 4, 6, 8], [1, 3, 5, 7, 7, 9])

In [30]:
numbers = [1,2,3,4,5,6,7,8,9,0]

even_nums= []

for no in numbers:
    if no % 2 == 0:
        even_nums.append(no)
        
even_nums

[2, 4, 6, 8, 0]

In [31]:
numbers = [1,2,3,4,5,6,7,8,9,0]
numbers.extend([10,])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]

## index

used to finding the index of any item in the list.

syntax:
    list_name.index(entity)

In [32]:
# finding maximum age & its rtedspective index in the list

age = [10,20,34,67,80,19,23]
print(max(age))
age.index(max(age))

80

4

In [33]:
age.index(20,1)

1

## Insert

use to add entity in a list at perticular index location.

syntax:
    list_name.insert(index_number,entity)

In [34]:
list_x= [3,4,6,7]
list_x.insert(2,5)
list_x

[3, 4, 5, 6, 7]

In [35]:
list_x.insert(1,[0,0])
list_x

[3, [0, 0], 4, 5, 6, 7]

In [36]:
list_x.insert(-2,'python')
list_x

[3, [0, 0], 4, 5, 'python', 6, 7]

In [37]:
list_x.insert(len(list_x),'data science')
list_x

[3, [0, 0], 4, 5, 'python', 6, 7, 'data science']

In [38]:
duplicates = [1,2,2,3,2,4,4]

duplicated_nums= []    #defined an empty list here

for i in duplicates:
    if duplicates.count(i)>1:
        if i not in duplicated_nums:
            duplicated_nums.append(i)
#             print('duplicated_nums list is', duplicated_nums)
#             print(f'index of {i} is -',duplicates.index(i))
            
# dict_duplicates={}        
for i in duplicated_nums:
    print(f'count of {i} in duplicates is: ',duplicates.count(i),f'\n & index of duplicate item {i} is ',duplicates.index(i))
#     dict_duplicates[i]=duplicates.count(i)
    
# (dict_duplicates)

count of 2 in duplicates is:  3
 & index of duplicate item 2 is  1
count of 4 in duplicates is:  2
 & index of duplicate item 4 is  5

In [39]:
from collections import Counter

Counter(duplicates)

Counter({1: 1, 2: 3, 3: 1, 4: 2})

## Max

it searches largest number in the list.

syntax:
    max(variable_name)

In [78]:
list2 = [155,750,456,235,678,945,675]
max(list2),min(list2)

(945, 155)

In [79]:
list2 = [155,750,456,235,678,945,675]

variable = 0

for i in list2:
    if i > variable:
        variable = i
        
variable

945

## Min

It searches smallest number in the list.

syntax:
    min(variable_name)

## remove

remove is used to remove the item from the list.
bydefault it removes the first occurance from the list always.

syntax:
    variable_name.remove(entity)

In [40]:
list1 = [2,3,6,4,'Krishna',6,'Radhe',5]
list1.remove(6)
list1

[2, 3, 4, 'Krishna', 6, 'Radhe', 5]

In [41]:
list1.remove('Krishna')
list1

[2, 3, 4, 6, 'Radhe', 5]

In [42]:
list1.insert(3,[10,45])
print(list1)
list1.remove([10,45])
list1

[2, 3, 4, [10, 45], 6, 'Radhe', 5]

[2, 3, 4, 6, 'Radhe', 5]

In [43]:
list1.remove(100)

ValueError: list.remove(x): x not in list

In [44]:
list1 = [2, 3, 4, 9, 'Radhe', 5, 2, 2]

list2=list1.copy()

for i in range(len(list1)):
    if list1[i]==2:
        list2.remove(list1[i])
        
print(list1,list2)

[2, 3, 4, 9, 'Radhe', 5, 2, 2] [3, 4, 9, 'Radhe', 5]

## pop

list1 = [2,3,6,4,'Krishna',6,'Radhe',5]
pop is used to delete element in the list .
if we don't pass the index then bydefault it removes the last index entity.
after all entity is poped in the list then last it returns error.

syntax:
    list_name.pop(index_number)

In [47]:
list1 = [2,3,6,4,'Krishna',6,'Radhe',5]
list1

[2, 3, 6, 4, 'Krishna', 6, 'Radhe', 5]

In [48]:
list1.pop(2)
list1

[2, 3, 4, 'Krishna', 6, 'Radhe', 5]

In [49]:
list1.pop(-2)
list1

[2, 3, 4, 'Krishna', 6, 5]

In [50]:
city_names=['Kedarnath','Haridwar','Hrishikesh','Banaras','Puri','Vrindavan','Haridwar']
city_names.pop(-3)
city_names

['Kedarnath', 'Haridwar', 'Hrishikesh', 'Banaras', 'Vrindavan', 'Haridwar']

In [51]:
city_names=['Kedarnath','Haridwar','Hrishikesh','Banaras','Puri','Vrindavan','Haridwar']

for index,city in enumerate(city_names):
    if city == 'Haridwar':
        print(index)

1
6

## Clear

it clears all the items from the list.
it gives empty list.

syntax:
    list_name.clear()

In [52]:
city_names

['Kedarnath',
 'Haridwar',
 'Hrishikesh',
 'Banaras',
 'Puri',
 'Vrindavan',
 'Haridwar']

In [53]:
city_names.clear()

In [54]:
city_names

[]

In [55]:
list3 = []
type(list3)
if list3:
    print('exist')

In [56]:
if city_names:print('Exist')

## del

it is used to delete the items in the list or delete the list all together.

syntax:
    del list_name[index_number]

In [59]:
city_names=['Kedarnath','Haridwar','Hrishikesh','Banaras','Puri','Vrindavan','Haridwar']

holy_city= city_names.copy()
holy_city

['Kedarnath',
 'Haridwar',
 'Hrishikesh',
 'Banaras',
 'Puri',
 'Vrindavan',
 'Haridwar']

In [60]:
del holy_city[1]

In [61]:
holy_city

['Kedarnath', 'Hrishikesh', 'Banaras', 'Puri', 'Vrindavan', 'Haridwar']

In [62]:
del holy_city[15]

IndexError: list assignment index out of range

## Sorting

sorting is done as ascending order.

syntax:
    list_name.sort()
    
descending order
    list_name.sort(reverse=True)
    
Types of Sorting:
1. Selection sort
2. Buble Sort
3. Insertion sort
4. Merge sort
5. Quick Sort

### Ascending orrder

In [63]:
x = [3,6,4,5,8,2]
x.sort()
x

[2, 3, 4, 5, 6, 8]

In [64]:
x = [3,6,4,5,8,2]
sorted(x)

[2, 3, 4, 5, 6, 8]

In [65]:
x = [3,6,4,5,8,2]
x = sorted(x)
x

[2, 3, 4, 5, 6, 8]

#### Logic behind sorting

In [66]:
x = [3,6,4,5,8,2]

for i in range(len(x)):
    print('i loop number is',i)
    for j in range(i+1,len(x)):
        print('j loop number is',j)

        if x[i] >= x[j]:
            x[i],x[j]=x[j],x[i]  #swapping of numbers
            
        print(f'when i is {i} & j is {j}, list is {x}')
            
x

i loop number is 0
j loop number is 1
when i is 0 & j is 1, list is [3, 6, 4, 5, 8, 2]
j loop number is 2
when i is 0 & j is 2, list is [3, 6, 4, 5, 8, 2]
j loop number is 3
when i is 0 & j is 3, list is [3, 6, 4, 5, 8, 2]
j loop number is 4
when i is 0 & j is 4, list is [3, 6, 4, 5, 8, 2]
j loop number is 5
when i is 0 & j is 5, list is [2, 6, 4, 5, 8, 3]
i loop number is 1
j loop number is 2
when i is 1 & j is 2, list is [2, 4, 6, 5, 8, 3]
j loop number is 3
when i is 1 & j is 3, list is [2, 4, 6, 5, 8, 3]
j loop number is 4
when i is 1 & j is 4, list is [2, 4, 6, 5, 8, 3]
j loop number is 5
when i is 1 & j is 5, list is [2, 3, 6, 5, 8, 4]
i loop number is 2
j loop number is 3
when i is 2 & j is 3, list is [2, 3, 5, 6, 8, 4]
j loop number is 4
when i is 2 & j is 4, list is [2, 3, 5, 6, 8, 4]
j loop number is 5
when i is 2 & j is 5, list is [2, 3, 4, 6, 8, 5]
i loop number is 3
j loop number is 4
when i is 3 & j is 4, list is [2, 3, 4, 6, 8, 5]
j loop number is 5
when i is 3 & j is 5, list is [2, 3, 4, 5, 8, 6]
i loop number is 4
j loop number is 5
when i is 4 & j is 5, list is [2, 3, 4, 5, 6, 8]
i loop number is 5

[2, 3, 4, 5, 6, 8]

In [67]:
x = [3,6,4,5,8,2]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i] >= x[j]:x[i],x[j]=x[j],x[i]            
x

[2, 3, 4, 5, 6, 8]

In [68]:
x = [3,6,4,5,8,2,2]
y = []
for i in range(len(x)):
    y.append(min(x))
    x.remove(min(x))
    
x,y

([], [2, 2, 3, 4, 5, 6, 8])

### Descending order

In [69]:
x = [3,6,4,5,8,2]
x.sort()
x[::-1]

[8, 6, 5, 4, 3, 2]

In [70]:
x = [3,6,4,5,8,2]
x.sort(reverse=True)
x

[8, 6, 5, 4, 3, 2]

In [71]:
x = [3,6,4,5,8,2]
x = sorted(x,reverse=True)
x

[8, 6, 5, 4, 3, 2]

## reverse

It returns list in reverse order.
it requires seperate variable to store the new list.

syntax:
    list_name.reverse()

In [72]:
list1 = [100,200,350,300,150]
list1.reverse()
list1

[150, 300, 350, 200, 100]

In [73]:
list2 = ['Phy','Bio','Chem','Math']
list2.reverse()
list2

['Math', 'Chem', 'Bio', 'Phy']

## reversed

It returns list in reverse order.
it requires seperate variable to store the new list.

syntax:
    list_name.reverse()

In [74]:
list2 = ['Phy','Bio','chem',155,'math',750]
reversed(list2)
list2

['Phy', 'Bio', 'chem', 155, 'math', 750]

In [75]:
list2 = ['Phy','Bio','chem',155,'math',750]
list2 = reversed(list2)
print(list2)
list(list2)
# [i for i in list2]
# for i in list2:print(i,end=' ')
# print(next(list2))
# print(next(list2))

<list_reverseiterator object at 0x0000019B4D5B3C40>

[750, 'math', 155, 'chem', 'Bio', 'Phy']

## count

it returns count of element present in given list.

syntax:
    list_name.count('entity')

In [76]:
list2 = ['Phy','Bio','chem',155,'math',750]
list2.count('Phy')

1

In [77]:
list2 = ['Phy','Bio','chem',155,'math',750,155]
list2.count(155)

2

## sum

it returns addition of all element from the list.

syntax:
    sum(list_name)

In [80]:
list2 = [155,750,456,235,678,945,675,155]
sum(list2)

4049

In [81]:
sumation= 0
for i in list2:sumation+=i
    
sumation

4049

In [82]:
## Power function from math library
import math
math.pow(5,2)

25.0

In [83]:
math.pi

3.141592653589793

## Shallow copy

When we have nested list, shallow copy dosent work well.
basically change in a list will also change the origional or copied list.

syntax:
    copied_list=origional_list.copy()

In [3]:
list2= [155, 750, 456, 235, 678, 945, 675, 155]
copied_list = list2.copy()    #list2 is copied in copied_list

copied_list

id(list2),id(copied_list)

(1423675809408, 1423691875904)

In [4]:
copied_list[0] = 200
copied_list

[200, 750, 456, 235, 678, 945, 675, 155]

In [5]:
list2

[155, 750, 456, 235, 678, 945, 675, 155]

In [6]:
# Shallow copy doesnt work on nested list

list1 = [[2,3],[3,4],[5,6]]
dummy_copy = list1.copy()
dummy_copy

[[2, 3], [3, 4], [5, 6]]

In [7]:
list1[0][0] = 100
print(list1)
print(dummy_copy)

[[100, 3], [3, 4], [5, 6]]
[[100, 3], [3, 4], [5, 6]]

In [8]:
dummy_copy[0][0] = 500
print(list1)
print(dummy_copy)

[[500, 3], [3, 4], [5, 6]]
[[500, 3], [3, 4], [5, 6]]

## Deepcopy

deepcopy works well on nested list.

syntax:
    copied_list=deepcopy(origional_list)

In [10]:
from copy import deepcopy,copy

In [11]:
# deepcopy workds well on nested list1

list1 = [[2,3],[3,4],[5,6]]
dummy_copy = deepcopy(list1)
dummy_copy

id(list1),id(dummy_copy)

(1423692629568, 1423692630592)

In [12]:
list1[0][0] = 100
print(list1)
print(dummy_copy)

[[100, 3], [3, 4], [5, 6]]
[[2, 3], [3, 4], [5, 6]]

In [13]:
dummy_copy[0][0] = 500
print(list1)
print(dummy_copy)

[[100, 3], [3, 4], [5, 6]]
[[500, 3], [3, 4], [5, 6]]

In [14]:
list1 = [[2,3],[3,4],[5,6]]
dummy_copy = copy(list1)   #shallow copy
dummy_copy

[[2, 3], [3, 4], [5, 6]]

In [15]:
dummy_copy[0] = 500
print(list1)
print(dummy_copy)

[[2, 3], [3, 4], [5, 6]]
[500, [3, 4], [5, 6]]

In [16]:
list1 = [[2,3],[3,4],[5,6]]
dummy_copy = copy(list1)   #shallow copy
dummy_copy

[[2, 3], [3, 4], [5, 6]]

In [17]:
dummy_copy[0] = 500
print(list1)
print(dummy_copy)

[[2, 3], [3, 4], [5, 6]]
[500, [3, 4], [5, 6]]