1. For loop
2. While loop

same functionality but different syntax
Function: is to execute the set of statements multiple times

# For Loop

It works like an iterator
Iterators > Str, List, Tuple, Set, Dict, range etc.

Syntax of for loop:
    
for variable_name in iterator:
    print(variable_name)
    statement 1
    statement 2
    code 1
    codee 2

In [1]:
string = 'We are learning Python'

print(string)
print(string)
print(string)
print(string)

We are learning Python
We are learning Python
We are learning Python
We are learning Python

In [4]:
string = 'We are learning Python'

for i in range(5):  #[0,1,2,3,4]
    print(string)

We are learning Python
We are learning Python
We are learning Python
We are learning Python
We are learning Python

## for loop on string

In [5]:
str1 = 'Python Language'

for character in str1:
    print(character,ord(character))

P 80
y 121
t 116
h 104
o 111
n 110
  32
L 76
a 97
n 110
g 103
u 117
a 97
g 103
e 101

In [6]:
str1 = 'Python Language'

for character in str1:   # this loop will run till len(string)
    print('character is : ',character)
    print('Printing single charcter from the string')
    print()

character is :  P
Printing single charcter from the string

character is :  y
Printing single charcter from the string

character is :  t
Printing single charcter from the string

character is :  h
Printing single charcter from the string

character is :  o
Printing single charcter from the string

character is :  n
Printing single charcter from the string

character is :
Printing single charcter from the string

character is :  L
Printing single charcter from the string

character is :  a
Printing single charcter from the string

character is :  n
Printing single charcter from the string

character is :  g
Printing single charcter from the string

character is :  u
Printing single charcter from the string

character is :  a
Printing single charcter from the string

character is :  g
Printing single charcter from the string

character is :  e
Printing single charcter from the string

## loops on list

In [7]:
list(range(3))

[0, 1, 2]

In [8]:
list1 = [2,5,3,8,4]

for i in range(3):  # 0 1 2
    print(i)
    print(list1)
    print()

0
[2, 5, 3, 8, 4]

1
[2, 5, 3, 8, 4]

2
[2, 5, 3, 8, 4]

In [9]:
list1 = [2,5,3,8,4]

loop_num = 0

for item in list1:
    print('loop number & index of list1 is -',loop_num)
    print(item)
    loop_num = loop_num + 1

loop number & index of list1 is - 0
2
loop number & index of list1 is - 1
5
loop number & index of list1 is - 2
3
loop number & index of list1 is - 3
8
loop number & index of list1 is - 4
4

In [10]:
list1 = [2,5,3,8,4]

for value in list1: print(value)

2
5
3
8
4

In [11]:
list1 = [2,5,3,8,4]

for value in list1: 
    if value % 2 == 0:
        print(value)

2
8
4

In [15]:
list1 = [2,5,3,8,'eight',4,'four']

str_list=[]
int_list=[]
for i in list1:
    if type(i)==str:
        str_list.append(i)
    else:
        int_list.append(i)

print(str_list)
print(int_list)

['eight', 'four']
[2, 5, 3, 8, 4]

In [13]:
str_list,int_list

(['eight', 'four'], [2, 5, 3, 8, 4])

## loops on Tuple, Set, Dict

In [16]:
tuple1=(2,4,3,5,6)

for i in tuple1:
    print(i)

2
4
3
5
6

In [17]:
set1 ={3,4,6,7}

for i in set1:
    print(i)

3
4
6
7

# Enumerate Function

for index,value in enumerate(iterator):
    print(index,value)
    statement 1
    code 1

In [18]:
for index,value in enumerate('python'):
    print('index is ',index,'\nvalue is ', value)
    print()

index is  0
value is  p

index is  1
value is  y

index is  2
value is  t

index is  3
value is  h

index is  4
value is  o

index is  5
value is  n

In [19]:
for item in enumerate('python'):
    print(item)
    
index,value = 0,'p'

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [20]:
for index,value in enumerate('python'):
    print(index)

0
1
2
3
4
5

In [21]:
for item in enumerate('python'):
#     print(item)
    print(item[0])

0
1
2
3
4
5

## Range function in loop

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [24]:
string = 'python'

for i in range(len(string)):
    print(i)
    print(string)

0
python
1
python
2
python
3
python
4
python
5
python

In [25]:
string = 'python'

for i in range(2,len(string)):
    print(i)
    print(string)
    
# for i in range(2,6):
#     print(i)
#     print(string)

2
python
3
python
4
python
5
python

## Nested loop

for loop inside another for loop

In [26]:
for i in range(5):                 # [0,1,2,3,4]
    print("value of i is: ", i)
    for j in range(5):             # [0,1,2,3,4]
        print(i)

value of i is:  0
0
0
0
0
0
value of i is:  1
1
1
1
1
1
value of i is:  2
2
2
2
2
2
value of i is:  3
3
3
3
3
3
value of i is:  4
4
4
4
4
4

In [27]:
for i in range(5):
    print('value of i is ',i)
    for j in range(5):   # [0 1 2 3 4]
        print(j)
    print()

value of i is  0
0
1
2
3
4

value of i is  1
0
1
2
3
4

value of i is  2
0
1
2
3
4

value of i is  3
0
1
2
3
4

value of i is  4
0
1
2
3
4

In [28]:
for i in range(5):           # [0,1,2,3,4]
    print('* '*i)

*
* *
* * *
* * * *

In [29]:
n = int(input("ENter the depth of the trianngle you wish to set: "))

for i in range(1,n):
    print(' '*(n-i) + '* '*i)

ENter the depth of the trianngle you wish to set: 6
     *
    * *
   * * *
  * * * *
 * * * * *

In [31]:
for i in range(5):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *

In [32]:
for i in range(1,5):
    for j in range(1):
        print(' '*(5-i)+"* "*i,end=' ')
    print()

    *
   * *
  * * *
 * * * *

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

NOTE: i loop will determine how many rows we want & 
    j loop will determine how many columns we want

In [33]:
n = int(input('Enter any number: '))

for i in range(5,0,-1):    # 5 4 3 2 1
    for j in range(i):
        print('*',end=' ')
    print()

Enter any number: 6
* * * * *
* * * *
* * *
* *
*

In [34]:
n = 5

for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [35]:
n = 5

for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [36]:
n = 5

for i in range(1,n+1):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [37]:
n = 5

for i in range(1,n+1):
    for j in range(i):  # 0
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [38]:
n = 5
for i in range(1,n+1):
    a = 1
    for j in range(i,n+1):
        print(a,end=' ')
        a+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [39]:
range(1)    # by default 1 is considered as end index
range(0,1)  # range is defined from 0 to 1 where 0 is start index & 1 is end index
range(1,6)  # range is defined from 1 to 6 where 1 is start index & 6 is end index

range(1, 6)

## Multiple for loops

If we have multiple loops inside a loops then these loops will add the columns or column values to the pattern
If we have multiple loops outside a loop then these loops will add the rows to the pattern

In [40]:
n = 5
for i in range(n):
    for j in range(i,n):
        print("+",end=" ")
    for k in range(i+1):
        print("*",end=" ")
#     print()
    for l in range(1):
        print('$ '*5,end=' ')
    print()  
    
for x in range(1,5):
    print("% "*5,end=" ")
    print()

+ + + + + * $ $ $ $ $
+ + + + * * $ $ $ $ $
+ + + * * * $ $ $ $ $
+ + * * * * $ $ $ $ $
+ * * * * * $ $ $ $ $
% % % % %
% % % % %
% % % % %
% % % % %

In [43]:
n = int(input("Enter any number: "))

for i in range(1,n+1):
    for j in range(i):
        print('*',end=' ')
    print()
    
for k in range(n-1,0,-1):
    for l in range(k):
        print('*',end=' ')
    print()

Enter any number: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
for i in range(1,5):
    for j in range(i):
        print('*',end=' ')
    for x in range(5-i,0,-1):
        print('+',end=' ')
    print()
    
for k in range(3,0,-1):
    for l in range(k):
        print('*',end=' ')
    for y in range(5-k,0,-1):
        print('+',end=' ')
    print()

* + + + +
* * + + +
* * * + +
* * * * +
* * * + +
* * + + +
* + + + +

In [ ]:
# WAP to calcultae factorial of any number

# find fact of 5 = 5*4*3*2*1 = 120

In [45]:
no = int(input("Enter a number: "))    
fact = 1    
if no < 0:    
    print(" Factorial does not exist for negative numbers")    
elif no == 0:    
    print("The factorial of 0 is 1")    
else:    
    for i in range(1,no + 1):    
        fact = fact*i
    else:
        print("The factorial of",no,"is",fact)

Enter a number: 5
The factorial of 5 is 120

## for else

Else will be executed after the for loop

In [46]:
n=5;fact = 1

for i in range(1,n+1):
    fact = fact * i
    
else:
    if fact>100:
        print(fact)
    else:
        print('We dont consider numbers whose factorial is less than 100')

120