Tuple?

Tuple are data types that are used to store different data types(int, float, complex, string, list, tuple, etc.)
It can store multiple values separated by comma
Tuples does allow duplication of items

It also supports an iterator operations like a list

-Unlike list, tuples are imutable.
    The values of items stored at any index in tuple can not be modified, changed or deleted.
unlike set, tuples are always ordered
Tuple is encompassed in round brackets ()

& Tuples are faster than list

In [1]:
tuple1 = [2,3,4]
type(tuple1)

list

In [2]:
tuple1 = (2,3,4,2)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(2, 3, 4, 2)

# Tuple Constructor

In [3]:
string = '(2,3,4)'
tuple_new=tuple(string)
type(tuple_new)

tuple

In [4]:
list1 = [2,3,4]
tuple1 = tuple(list1)
type(tuple1)

tuple

In [5]:
tuple_dummy = ()
type(tuple_dummy)

tuple

# Indexing

In [6]:
tuple1 = (2,3,4,2)

tuple1[0]
tuple1[-2]
tuple1[:]
tuple1[::-1]
tuple1[-1:-3:-1]

(2, 4)

# Index or Item Assignment & Modification

In [7]:
tuple1 = (2,3,4,2,5,8,6,4,7,9)

tuple1[-1] = 100

TypeError: 'tuple' object does not support item assignment

In [8]:
del tuple1[8]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
del tuple1

In [10]:
tuple1

NameError: name 'tuple1' is not defined

# Item modification by converting it into List

In [11]:
tuple1 = (2,3,4,2,5,8,6,4,7,9)

list1 = list(tuple1)

list1.append(100)

tuple1=tuple(list1)
tuple1

(2, 3, 4, 2, 5, 8, 6, 4, 7, 9, 100)

In [12]:
tuple1 = (2,3,4,2,5,8,6,4,7,9)

list1 = list(tuple1)

list1.pop(0)

tuple1=tuple(list1)
tuple1

(3, 4, 2, 5, 8, 6, 4, 7, 9)

In [13]:
sorted(tuple1)

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [14]:
tuple1 = (2,3,4,2,5,8,6,4,7,9)

list1 = [tuple1]

type(list1)
list1

[(2, 3, 4, 2, 5, 8, 6, 4, 7, 9)]

# Tuple Operations

In [15]:
tuple1 = (2,3,4,2,5)
tuple2 = (8,6,4,7,9)

tuple3=tuple1+tuple2
tuple3

(2, 3, 4, 2, 5, 8, 6, 4, 7, 9)

In [16]:
tuple1 = (2,3,4,2,5)
tuple2 = (8,6,4,7,9)

tuple3=tuple1-tuple2
tuple3

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [17]:
tuple1 = (2,3,4,2,5)
tuple2 = (8,6,4,7,9)

tuple3=tuple1*tuple2
tuple3

TypeError: can't multiply sequence by non-int of type 'tuple'

In [18]:
tuple1 = (2,3,4,2,5)
tuple2 = (8,6,4,7,9)

tuple3=tuple1*2
tuple3

(2, 3, 4, 2, 5, 2, 3, 4, 2, 5)

In [19]:
tuple1 = (2,3,4,2,5)

In [20]:
import numpy as np
random_number=np.random.randint(10,100,1000)
print(random_number)
random_list=list(random_number)
random_tuple=tuple(random_number)

[81 95 80 79 97 73 68 37 74 88 35 67 78 16 28 55 63 47 65 64 20 31 72 37
 33 64 43 10 18 60 73 20 73 38 88 56 31 27 44 23 87 69 84 76 89 81 87 99
 84 17 90 57 63 87 13 69 45 60 63 74 17 78 88 26 36 29 18 96 12 23 37 87
 10 92 51 78 18 31 67 25 41 12 50 74 69 26 72 32 63 87 10 60 29 50 31 85
 90 94 55 12 18 90 60 31 47 87 54 71 82 89 54 93 26 55 84 32 43 36 47 42
 60 85 13 41 41 41 73 51 42 84 60 56 70 45 69 62 83 96 27 47 58 58 75 96
 95 23 53 98 34 26 80 86 63 60 41 90 82 74 67 49 46 51 46 17 87 23 53 24
 56 71 63 77 26 86 38 22 95 50 53 85 55 56 23 93 92 27 65 51 26 38 43 87
 87 79 28 30 90 66 69 44 12 15 74 45 39 74 16 17 66 59 13 98 31 79 29 55
 18 12 32 55 74 81 86 86 83 11 18 18 41 28 29 91 99 25 67 88 52 16 88 53
 78 41 86 28 95 14 45 84 12 34 97 55 55 18 40 19 56 17 68 28 15 87 33 61
 39 77 14 52 33 76 67 57 24 61 46 94 33 70 18 61 18 77 88 85 99 89 39 42
 27 47 48 56 10 58 84 93 66 39 40 88 24 46 10 36 64 94 91 25 51 76 16 82
 45 99 64 41 93 17 71 16 80 15 21 44 17 75 22 68 30 35 69 74 59 67 39 46
 97 66 40 26 89 90 53 88 74 52 67 61 15 49 54 97 67 42 42 26 78 42 15 71
 84 21 53 54 38 47 74 76 23 46 82 63 14 45 24 37 91 85 26 96 18 83 84 88
 39 89 91 70 36 84 87 20 68 65 11 11 13 35 50 37 30 25 11 35 40 98 74 62
 88 88 93 33 48 99 44 82 35 55 39 93 49 59 72 31 71 72 55 19 33 11 90 71
 29 48 54 72 97 96 24 25 61 55 91 18 65 83 98 17 88 74 66 41 32 81 65 78
 76 87 83 79 69 44 83 28 90 26 29 66 97 64 22 80 68 51 95 18 63 49 39 99
 57 68 95 30 99 72 12 13 34 22 25 36 84 82 28 34 73 90 69 75 89 82 40 34
 42 61 40 43 26 32 14 76 71 27 44 26 48 26 92 76 40 36 89 93 43 19 93 75
 29 80 90 46 67 10 48 11 42 46 86 81 56 58 57 12 61 92 38 73 93 99 75 18
 97 98 64 60 14 62 67 55 72 75 31 71 54 51 76 96 47 59 94 15 48 77 75 72
 41 63 68 12 77 62 35 70 94 72 56 55 24 62 25 14 11 15 50 69 70 86 99 88
 27 66 64 64 40 28 41 62 61 33 58 34 96 50 30 79 82 26 77 91 77 44 25 81
 30 45 10 49 19 85 69 20 46 12 35 36 13 28 78 33 69 37 85 87 22 96 91 97
 54 50 38 27 29 67 17 80 29 69 39 80 24 46 56 95 10 85 45 91 25 66 65 53
 10 39 78 99 75 82 92 86 76 25 13 61 95 52 45 84 46 54 83 26 71 41 21 36
 34 69 77 82 69 76 89 49 16 16 29 17 40 23 50 79 35 66 91 82 26 98 64 90
 38 10 94 87 70 15 37 93 70 20 44 54 74 33 42 68 99 96 53 45 55 34 88 79
 77 42 75 43 43 20 14 83 48 22 93 40 29 53 93 73 57 73 57 53 96 61 16 72
 79 88 68 12 90 11 94 24 22 99 32 35 62 37 84 64 84 48 98 44 39 17 44 26
 96 48 89 26 89 30 44 79 58 77 74 29 64 38 33 60 94 25 55 72 45 38 31 67
 68 91 63 71 17 40 22 28 23 89 38 72 25 85 62 60 32 85 25 82 55 66 66 96
 37 24 54 11 35 48 70 77 31 60 69 83 22 84 57 80 94 45 77 24 48 46 94 46
 49 87 48 54 57 53 40 94 63 39 59 32 74 13 63 34 43 70 45 44 37 97 44 93
 97 95 99 95 94 30 92 14 20 52 95 27 26 51 94 40 61 94 90 40 33 27 81 96
 10 42 62 17 52 66 28 25 53 78 87 39 90 37 84 20 45 85 33 25 62 98 82 51
 17 63 89 31 12 49 91 19 93 46 60 43 39 73 26 74 94 61 79 15 53 94 76 97
 72 12 58 72 22 79 13 17 94 84 61 74 68 46 44 97 54 85 81 35 77 78 69 90
 12 56 99 34 65 98 44 83 43 55 89 90 97 63 88 52]

In [21]:
%%time
for i in random_list:
    pass

Wall time: 0 ns

In [22]:
t1 = (2,4,6,'Class','pYHTON',3)
t1

(2, 4, 6, 'Class', 'pYHTON', 3)

In [23]:
SET1 = {2,4,6,'Class','pYHTON',3,100.115}
SET1

{100.115, 2, 3, 4, 6, 'Class', 'pYHTON'}

In [24]:
t1 = (2,4,6,'Class','pYHTON',3)

if 'Class' in t1:
    print('Yes')

Yes

In [25]:
t1 = (2,4,6,'Class','pYHTON',3)

for i in t1:
    print(i)

2
4
6
Class
pYHTON
3

## index, count, len, max, min, sum functions

In [26]:
t1 = (2,4,6,'Class','pYHTON',3)
t1.index(4)

1

In [27]:
t1 = (2,3,4,6,'Class','pYHTON',3)
t1.count(3)

2

In [28]:
t1 = (2,3,4,6,3)
len(t1),max(t1),min(t1),sum(t1)

(5, 6, 2, 18)

## Sorting tuple using sorted function

In [29]:
#sorting in ascending order
sorted(t1)

[2, 3, 3, 4, 6]

In [30]:
#sorting in descending order
sorted(t1,reverse=True)

[6, 4, 3, 3, 2]

## reversing tuple using reversed funtion

In [31]:
tuple(reversed(t1))

(3, 6, 4, 3, 2)

## Copy function

Deep copy & shallow copy works the same way as they work with list

Difference between Tuple & List:
    
List:
    1. []
    2. Mutable
    3. Ordered*
    4. More functionalities than Tuple
    5. Slower than Tuple
    6. Less Memory efficient
    7. Duplicates are allowed*
    8. for single item, it need not be comma separated.
    
Tuple:
    1. ()
    2. Immutable
    3. Ordered*
    4. Less functionalities than List
    5. Faster than List
    6. More Memory efficient
    7. Duplicates are allowed*
    8. for single item, it needs be comma separated.

In [32]:
tuple1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [33]:
tuple1 = ('hi','hello','salut','Hallo')

' '.join(tuple1)

'hi hello salut Hallo'

In [34]:
str(tuple1)

"('hi', 'hello', 'salut', 'Hallo')"

In [36]:
s = 2,3,5,4
print(type(s))
s

<class 'tuple'>

(2, 3, 5, 4)