Set:
    unordered data type
    mutable data type
    Duplicates are not allowed
    addition of mutable items is possible
    indexing is not supported by set
    
Mutable >> list, set, dict
Immutable >> str, tuple, int, float, bool

sets are enclosed within {} curly braces
items in set are comma separated
initialise set by set constructor
data type of empty set is changed to dict

while dict is also in curly braces, it has key value pair 7 keys & values are separated by : whereas in set items are separated by comma ,

In [1]:
set1 = {}
set1

{}

In [2]:
type(set1)

dict

In [3]:
set1 = {1}
type(set1)

set

list1 = []
tuple1 = ()
string = " "
set1= {,}
dict1 = {key:value}

In [5]:
set1 = {1,}
type(set1)

set

In [6]:
set1 = {4,7,2,8,3,'Python','Class','Python',2}
set1

{2, 3, 4, 7, 8, 'Class', 'Python'}

In [7]:
# removing duplicate items from list:
##### when the order doesn't bother us but we dont want duplicate items in list

list1 = [5,3,5,3,4,7,9,0]
set1=set(list1)
list1=list(set1)
list1

[0, 3, 4, 5, 7, 9]

In [8]:
# if we wanted order
list1 = [5,3,5,3,4,7,9,0]
list_dum = []
for i in list1:
    if i in list_dum:
        pass
    else:
        list_dum.append(i)
        
list_dum

[5, 3, 4, 7, 9, 0]

# indexing not supported by set

In [9]:
set1[3]

TypeError: 'set' object is not subscriptable

In [10]:
set1[:]

TypeError: 'set' object is not subscriptable

In [11]:
set2 = {True, 1,0, False, False, True, 0, 1}
set2

{0, True}

In [12]:
set2 = {1, False, False, True, 0, 1}
set2

{False, 1}

In [13]:
s = 2,3,5,4
print(type(s))
set_new = set(s)
set_new

<class 'tuple'>

{2, 3, 4, 5}

$ set is a typical data type that does work with loops & enumenrate function but it does not support indexing.

In [14]:
set1 = {4,7,2,8,3,'Python','Class','Python',2}

In [15]:
for i in set1:
    print(i)

Class
3
2
4
7
8
Python

In [16]:
for i in enumerate(set1):
    print(i)

(0, 'Class')
(1, 3)
(2, 2)
(3, 4)
(4, 7)
(5, 8)
(6, 'Python')

In [17]:
set1={7,3,4,8,5,0,9.3,9,4,5,6,31,'python','ab','M','Abc','Abc','M',3.14,5.6,100.124,300,'Class','%%'}
set1

{'%%',
 0,
 100.124,
 3,
 3.14,
 300,
 31,
 4,
 5,
 5.6,
 6,
 7,
 8,
 9,
 9.3,
 'Abc',
 'Class',
 'M',
 'ab',
 'python'}

In [18]:
list1 = [9.3,9,4,5,6,'python','ab','M','Abc']
list1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

# How to access items in set

In [19]:
set1 = {4,7,2,8,3,'Python','Class','Python',2}

for i in set1:
    print(i)

Class
3
2
4
7
8
Python

In [20]:
# Set Function

remove
discard
pop
clear
del

# Remove

removes the unrequired item from the set provided that element is present
if the element is not present then it would throw an error

In [21]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.remove(8)

print(set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}
{'Class', 3, 2, 4, 7, 'Python'}

In [22]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.remove('Python')

print("Removed item set is: ",set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}
Removed item set is:  {'Class', 3, 2, 4, 7, 8}

In [23]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.remove(100)

print(set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}

KeyError: 100

# Discard

It does not throw an error even if the item is not present

In [24]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.discard(8)

print("Discarded item set is: ",set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}
Discarded item set is:  {'Class', 3, 2, 4, 7, 'Python'}

In [25]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.discard(100)

print("Discarded item set is: ",set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}
Discarded item set is:  {'Class', 3, 2, 4, 7, 8, 'Python'}

# pop

It pops out any random index item from the set

In [26]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.pop()

print("Discarded item set is: ",set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}
Discarded item set is:  {3, 2, 4, 7, 8, 'Python'}

In [27]:
set1 = {4,7,2,8,3,'Python','Class'}

print(set1)

set1.pop()

print("Discarded item set is: ",set1)

{'Class', 3, 2, 4, 7, 8, 'Python'}
Discarded item set is:  {3, 2, 4, 7, 8, 'Python'}

In [28]:
set2={6,23,45,6,7,90,123}
print(set2)
set2.pop()
print(set2)

{23, 6, 7, 90, 123, 45}
{6, 7, 90, 123, 45}

# Removing items from set

## Clear

It removes all the items from the set

In [29]:
set1 = {2,3,60,45,'Engineering','Medical'}

set1.clear()

set1

set()

In [30]:
set1 = {2,3,60,45,'Engineering','Medical'}

clear(set1)

set1

NameError: name 'clear' is not defined

## del

In [31]:
set1 = {2,3,60,45,'Engineering','Medical'}

del set1

set1

NameError: name 'set1' is not defined

In [32]:
set1 = {2,3,60,45,'Engineering','Medical'}

del set1[0]

set1

TypeError: 'set' object doesn't support item deletion

# Add functions

## Add

It can add only 1 single item in the set
It does not required additional variable to store the change.

In [33]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set1.add(100)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{100, 2, 3, 45, 60, 'Engineering', 'Medical'}

In [34]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set1.add(400)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{2, 3, 400, 45, 60, 'Engineering', 'Medical'}

In [35]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)
set1.add((200,400))

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{(200, 400), 2, 3, 45, 60, 'Engineering', 'Medical'}

In [36]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)
set1.add({200,400})

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

TypeError: unhashable type: 'set'

## Update

we dont need to use a separate variable to store the change
update is used to add items in a set from another set
it does not add single item.
if we need to add single item, then it has to be passed in set,list,tuple,etc..

In [37]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400}

set1.update(set2)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{2, 3, 300, 400, 45, 60, 'Engineering', 'Medical'}

In [38]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set1.update({(400,400),(400,400)})

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{(400, 400), 2, 3, 45, 60, 'Engineering', 'Medical'}

In [39]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400}
set3 = {-100,-300}
ste1 = set1.update(set2,set3)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{-100, -300, 2, 3, 300, 400, 45, 60, 'Engineering', 'Medical'}

In [40]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400}
set3 = {-100,-300}
set3.update(set2)

set3

{2, 3, 'Medical', 60, 45, 'Engineering'}

{-300, -100, 300, 400}

In [41]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400}
set3 = {-100,-300}
set3.update(set2,set3)

set3

{2, 3, 'Medical', 60, 45, 'Engineering'}

{-300, -100, 300, 400}

In [42]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set3 = (-100,-300)
print(type(set3))
set1.update(set3)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}
<class 'tuple'>

{-100, -300, 2, 3, 45, 60, 'Engineering', 'Medical'}

In [43]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set3 = (-100,-300)
print(type(set3))
set1.update(100)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}
<class 'tuple'>

TypeError: 'int' object is not iterable

## Union

union need separtae variable to store the change
it does not add single item.
if we need to add single item, then it has to be passed in set,list,tuple,etc..

In [44]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400,2}
set3 = {-100,-300}

set1 = set1.union(set2)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{2, 3, 300, 400, 45, 60, 'Engineering', 'Medical'}

In [45]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400,2}
set3 = ('hi','there')

set1 = set1.union(set3)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{2, 3, 45, 60, 'Engineering', 'Medical', 'hi', 'there'}

In [46]:
set1 = {2,3,60,45,'Engineering','Medical'}
print(set1)

set2 = {300,400,2}
set3 = ['hi','there']

set1 = set1.union(set3)

set1

{2, 3, 'Medical', 60, 45, 'Engineering'}

{2, 3, 45, 60, 'Engineering', 'Medical', 'hi', 'there'}

In [47]:
set1 = [2,3,60,45,'Engineering','Medical']
print(set1)

set2 = {300,400,2}
set3 = ['hi','there']

set1 = set1.union(set2)

set1

[2, 3, 60, 45, 'Engineering', 'Medical']

AttributeError: 'list' object has no attribute 'union'

In [48]:
set1 = [2,3,60,45,'Engineering','Medical']
print(set1)

set2 = {300,400,2}
set3 = ['hi','there']

set1 = set1.union(100)

set1

[2, 3, 60, 45, 'Engineering', 'Medical']

AttributeError: 'list' object has no attribute 'union'

## Intersection

basically gives away the common items from the sets
needs a separate variable to store the change

In [49]:
cities = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}

common_cities=cities.intersection(cities2)

common_cities

{'Mumbai', 'Pune'}

In [50]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}
cities3 = {'Jodhpur','Mirzapur','Udaipur','Pune'}

common_cities=cities1.intersection(cities2,cities3)

common_cities

{'Pune'}

In [51]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}
cities3 = ('Jodhpur','Mirzapur','Udaipur','Pune')

common_cities=cities2.intersection(cities1,cities3)

common_cities

{'Pune'}

## Intersection_update

basically gives away the common items from the sets
it does not needs a separate variable to store the change

In [52]:
cities = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}

cities.intersection_update(cities2)

cities

{'Mumbai', 'Pune'}

In [53]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}
cities3 = {'Jodhpur','Mirzapur','Udaipur','Pune'}

cities1.intersection_update(cities2,cities3)

cities1

{'Pune'}

# Difference

cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}
cities3 = {'Jodhpur','Mirzapur','Udaipur','Pune'}

cities1.intersection_update(cities2,cities3)

cities1

In [54]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}


cities1=cities1.difference(cities2)

cities1

{'Nagpur'}

In [55]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}
cities3 = {'Jodhpur','Mirzapur','Udaipur'}

cities1=cities1.difference(cities2,cities3)

cities1

{'Nagpur'}

In [56]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune'}
cities3 = {'Jodhpur','Mirzapur','Udaipur','Mumbai'}

uncommon_cities=cities1.difference(cities2,cities3)

uncommon_cities

{'Nagpur'}

## Difference_update

In [57]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}


cities1.difference_update(cities2)

cities1

{'Nagpur'}

In [58]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune','Mumbai'}
cities3 = {'Jodhpur','Mirzapur','Udaipur'}

cities1.difference_update(cities2,cities3)

cities1

{'Nagpur'}

In [59]:
cities1 = {'Nagpur','Pune','Mumbai'}
cities2 = {'Kanpur','Jaipur','Pune'}
cities3 = {'Jodhpur','Mirzapur','Udaipur','Mumbai'}

cities1.difference_update(cities2,cities3)

cities1

{'Nagpur'}

## Symmetric difference

# All the uncommon items from both the sets are shows.
# Separate variable is required.

In [60]:
set1 = {4,7,9,10}

set2 = {3,6,8,2}

set3 = set1.symmetric_difference(set2)

set3

{2, 3, 4, 6, 7, 8, 9, 10}

In [61]:
set1 = {4,7,9,10,3,2}

set2 = {3,6,8,2}

set3 = set1.symmetric_difference(set2)

set3

{4, 6, 7, 8, 9, 10}

In [62]:
set1 = {4,7,9,10,3,2}

set2 = (3,6,8,2)

set3 = set1.symmetric_difference(set2)

set3

{4, 6, 7, 8, 9, 10}

## Symmetric Difference update

# All the uncommon items from both the sets are shows.
# Changes are reflected in original set.

In [63]:
set1 = {4,7,9,10,3,2}

set2 = {3,6,8,2}

set1.symmetric_difference_update(set2)

set1

{4, 6, 7, 8, 9, 10}

In [64]:
set1 = {4,7,9,10,3,2}

set2 = [3,6,8,2]

set1.symmetric_difference_update(set2)

set1

{4, 6, 7, 8, 9, 10}

# isdisjoint

# When there are no items common between 2 sets, then it returns True else False.

In [65]:
set1 = {4,7,9,10,3,2}

set2 = {3,6,8,2}

set1.isdisjoint(set2)

False

In [66]:
set1 = {4,7,9,10}

set2 = {3,6,8,2}

set1.isdisjoint(set2)

True

In [67]:
set1 = {4,7,9,10}

set2 = {3,6,8,2}

set2.isdisjoint(set1)

True

In [68]:
set1 = {4,7,9,10}

set2 = [3,6,8,2]

set3 = {1,0}

set(set2).isdisjoint(set1)

True

In [69]:
set1 = {4,7,9,10}

set2 = [3,6,8,2]

set3 = {1,0}

set(set2).isdisjoint(set1,set3)

TypeError: set.isdisjoint() takes exactly one argument (2 given)

In [70]:
set1 = {4,7,9,10}

set2 = [3,6,8,2]

set3 = {1,0}

set1.isdisjoint(set2)

True

# issubset

# When all the items in a set are also present in another set (passed in issubset function) then it returns true.

In [71]:
set1 = {4,7,9,10}

set2 = {3,6,8,2}

set2.issubset(set1)

False

In [72]:
set1 = {4,7,9,10,3,2}

set2 = {3,6,8,2}

set2.issubset(set1)

False

In [73]:
set1 = {4,7,9,10,3,2,6,8}

set2 = {3,6,8,2}

set2.issubset(set1)

True

# issuperset

In [74]:
set1 = {4,7,9,10}

set2 = {3,6,8,2}

set2.issuperset(set1)

False

In [75]:
set1 = {4,7,9,10}

set2 = {3,6,8,2,4,7,9,10}

set2.issuperset(set1)

True

In [76]:
set1 = {4,7,9,10}

set2 = {4,7,9,10}

set2.issuperset(set1)

True

In [77]:
the_set = {2,5,7,1}
min(the_set)

1

In [78]:
the_set = {2,5,7,1}
print(the_set)
max(the_set)

{1, 2, 5, 7}

7

Min,
Max,
Len,
Sum,
mean,
median,
mode,
All,
Any

In [79]:
from statistics import mean,median,mode

In [80]:
mean(the_set)

3.75

In [81]:
median(the_set)

3.5

In [82]:
mode(the_set)

1

# Any

it returns true if even a single item is not 0 or not false

In [83]:
the_set = {2,5,7,1,False}
any(the_set)

True

In [84]:
the_set = {7,False,0,0,0,False}
any(the_set)

True

In [85]:
the_set = {False,0,0,0,False}
any(the_set)

False

# All

it returns true if all item are either not 0 or not false

In [86]:
the_set = {2,5,7,1,False}
all(the_set)

False

In [87]:
the_set = {2,5,7,1,True}
all(the_set)

True

In [88]:
list1 = ['HI','HELLO','Namaste']
all([i.isupper() for i in list1])

False

In [89]:
any([i.isupper() for i in list1])

True

set
    mutable
    unordered
    duplicates not allowed
   
frozen set
    immutable
    unordered
    duplicates not allowed

In [90]:
set1= {2,3,4,5,6,7}

frozen = frozenset(set1)

frozen,type(frozen)

(frozenset({2, 3, 4, 5, 6, 7}), frozenset)

In [91]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({10,11,12})

set1.update(fr2)
set1

{2, 3, 4, 5, 6, 7, 10, 11, 12}

In [92]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({10,11,12})

fr2.update(set1)
fr2

AttributeError: 'frozenset' object has no attribute 'update'

In [93]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr2.intersection_update(set1)
fr2

AttributeError: 'frozenset' object has no attribute 'intersection_update'

In [94]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr2.difference_update(set1)
fr2

AttributeError: 'frozenset' object has no attribute 'difference_update'

In [95]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr2.symmetric_difference_update(set1)
fr2

AttributeError: 'frozenset' object has no attribute 'symmetric_difference_update'

In [96]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr3 = fr2.union(set1)
fr3

frozenset({2, 3, 4, 5, 6, 7, 10, 11, 12})

In [97]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr3 = fr2.difference(set1)
fr3

frozenset({10, 11, 12})

In [98]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr3 = fr2.symmetric_difference(set1)
fr3

frozenset({4, 5, 6, 7, 10, 11, 12})

In [99]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr3 = fr2.intersection(set1)
fr3

frozenset({2, 3})

In [100]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

fr2.isdisjoint(set1)

False

In [101]:
set1= {2,3,4,5,6,7}

fr2 = frozenset({2,3,10,11,12})

set1.isdisjoint(fr2)

False

In [102]:
set1= {2,3}

fr2 = frozenset({2,3,10,11,12})

fr2.issuperset(set1)

True

In [103]:
set1= {2,3,10,11,12}

fr2 = frozenset({2,3})

fr2.issubset(set1)

True

In [104]:
import statistics

In [105]:
statistics.mean(fr2)

2.5

In [106]:
statistics.median(fr2)

2.5

In [107]:
statistics.mode(fr2)

2

# Misceleneous concepts

## Packing

# when we pass on multiple values to a single variable then it is called as packing.
# it either takes the values in a signle tuple or takes them as args.

In [108]:
a = 3,4,6      #packing of values into a

a

(3, 4, 6)

## Unpacking

when we have multiple values to pass in multiple variables then it is unpacking

In [109]:
p,q,r = 5
p

TypeError: cannot unpack non-iterable int object

In [110]:
p,q,r = 3,4,5
p

3

In [111]:
*p,q,r = (3,4,5,6,7,2,3,5,8)

print(*p)

3 4 5 6 7 2 3

In [112]:
*p,q = 2,3,4