string : immutable, oredered, duplicates are allowed
list   : mutable, ordered, duplicates allowed
tuple  : immutable, ordered, duplicates allowed
set    : mutable, unordered, duplicates not allowed
frozenset: immutable, unordered, duplicates not allowed
dict   : mutable, duplicates keys are not allowed, duplicate values are allowed
        ordered >= Python 3.6 version
        unordered < Python 3.6 version

list1 = []
set   = {1}
dict  = {key1:values,key2:values}

elements in dict are comma separated

duplicates & supported data types:
    keys  : duplicates not allowed : data types (int,float,complex,str,tuple)
    values: duplicates are allowed : All data types

In [1]:
dict1 = {}
dict1

{}

In [2]:
type(dict1)

dict

In [3]:
d1 = {'Name':'Sachin'}
print(type(d1),d1,len(d1))

<class 'dict'> {'Name': 'Sachin'} 1

In [4]:
player_data = {'Name':'Sachin','Age':40,'Heighest score':200,100:[48,52],50:(100,98)}

player_data

{'Name': 'Sachin',
 'Age': 40,
 'Heighest score': 200,
 100: [48, 52],
 50: (100, 98)}

In [5]:
len(player_data)

5

In [6]:
import pandas as pd

player_data = {'Name':'Sachin','Age':40,'Heighest score':200,'100':48,'50':100}
print(player_data)

df = pd.DataFrame.from_dict(player_data, orient ='index') 
x=df.T
x.to_csv('players.csv')

{'Name': 'Sachin', 'Age': 40, 'Heighest score': 200, '100': 48, '50': 100}

In [7]:
import pandas as pd

player_data = {1:{'Name':'Sachin','Age':40,'Heighest score':200},
              2:{'Name':'Virender','Age':38,'Heighest score':209}}
print(player_data)

{1: {'Name': 'Sachin', 'Age': 40, 'Heighest score': 200}, 2: {'Name': 'Virender', 'Age': 38, 'Heighest score': 209}}

In [8]:
df = pd.DataFrame(player_data)

In [9]:
df.T

       Name Age Heighest score
1    Sachin  40            200
2  Virender  38            209

In [10]:
player = {'Name':'Sachin','Age':40,'Heighest score':200}
print(player)

df = pd.DataFrame([player])
df.to_excel('player.xlsx')

{'Name': 'Sachin', 'Age': 40, 'Heighest score': 200}

# Accessing the items in dictionary

In [11]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011}

In [12]:
employees['Emp_name']

'Kunal'

In [13]:
employees['Salary']

80000

In [14]:
employees['salary']

KeyError: 'salary'

## Get function

In [15]:
employees.get('Salary')

80000

In [16]:
employees.get('Age')

30

In [17]:
employees.get('age')

In [18]:
for key in employees:
    print(key,'---',employees[key])

Emp_name --- Kunal
Salary --- 80000
Designation --- Data Scientist
Age --- 30
Emp_ID --- 10011

Dict Functions to access items:
    keys()
    values()
    items()

## Accessing keys of dict using keys functions

In [19]:
employees.keys()

dict_keys(['Emp_name', 'Salary', 'Designation', 'Age', 'Emp_ID'])

In [20]:
for key in employees.keys():
    print(key)

Emp_name
Salary
Designation
Age
Emp_ID

In [21]:
for key in employees.keys():
    print(key,'---',employees[key])

Emp_name --- Kunal
Salary --- 80000
Designation --- Data Scientist
Age --- 30
Emp_ID --- 10011

## Accessing the values in the dict

In [22]:
employees.values()

dict_values(['Kunal', 80000, 'Data Scientist', 30, 10011])

In [23]:
list(employees.values())

['Kunal', 80000, 'Data Scientist', 30, 10011]

In [24]:
for values in employees.values():
    print(values)

Kunal
80000
Data Scientist
30
10011

## Accessing both keys & values using items function

In [25]:
employees.items()

dict_items([('Emp_name', 'Kunal'), ('Salary', 80000), ('Designation', 'Data Scientist'), ('Age', 30), ('Emp_ID', 10011)])

In [26]:
for item in employees.items():
    print(item)

('Emp_name', 'Kunal')
('Salary', 80000)
('Designation', 'Data Scientist')
('Age', 30)
('Emp_ID', 10011)

In [27]:
for key,value in employees.items():
    print(key,":",value)

Emp_name : Kunal
Salary : 80000
Designation : Data Scientist
Age : 30
Emp_ID : 10011

# Changing the items in dict

In [28]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

In [29]:
employees['Emp_name']='Hemant'

employees['Age']=32

employees

{'Emp_name': 'Hemant',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 32,
 'Emp_ID': 10011}

# Adding or updating the values using update function

In [30]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

new_data = {'Emp_ID':10021,'Designation':'ML Engineer','Salary':100000}

employees.update(new_data)

employees

{'Emp_name': 'Kunal',
 'Salary': 100000,
 'Designation': 'ML Engineer',
 'Age': 30,
 'Emp_ID': 10021}

In [31]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

new_data = {'Company':'Cognizant','Designation':'ML Engineer','Project':'Jhonsons baby','Age':30}

employees.update(new_data)

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'ML Engineer',
 'Age': 30,
 'Emp_ID': 10011,
 'Company': 'Cognizant',
 'Project': 'Jhonsons baby'}

# Setdefault()

It will return a value with specific key if the key is present
If a key is not present in dict & only key variable is paased then adds a key in dictct with this key variable name & the value will be set to none 
it doent change the value of the key if the key is present but it can add another key with value

In [32]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.setdefault('Age')

30

In [33]:
employees.setdefault('Height')
employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Height': None}

In [34]:
employees.setdefault('Company','Infosys')
employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30,
 'Emp_ID': 10011,
 'Height': None,
 'Company': 'Infosys'}

# Removing the items  from dict

## pop

In [35]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('Age')

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Emp_ID': 10011}

In [29]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('age')

employees

KeyError: 'age'

In [30]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop()

employees

TypeError: pop expected at least 1 argument, got 0

In [31]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.pop('Kunal')

employees

KeyError: 'Kunal'

## popitem()

In [32]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.popitem()

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 30}

In [33]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

new_data = {'Company':'Cognizant','Designation':'ML Engineer','Project':'Jhonsons baby','Age':30}

employees.update(new_data)

print(employees)

employees.popitem()

employees

{'Emp_name': 'Kunal', 'Salary': 80000, 'Designation': 'ML Engineer', 'Age': 30, 'Emp_ID': 10011, 'Company': 'Cognizant', 'Project': 'Jhonsons baby'}

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'ML Engineer',
 'Age': 30,
 'Emp_ID': 10011,
 'Company': 'Cognizant'}

In [34]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

new_data = {'Age':32}

employees.update(new_data)

print(employees)

employees.popitem()

employees

{'Emp_name': 'Kunal', 'Salary': 80000, 'Designation': 'Data Scientist', 'Age': 32, 'Emp_ID': 10011}

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Age': 32}

In [35]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

employees.popitem('Salary')

employees

TypeError: dict.popitem() takes no arguments (1 given)

# Clear

In [43]:
employees.clear()

employees

{}

# del

In [44]:
employees = {'Emp_name':'Kunal','Salary':80000, 'Designation': 'Data Scientist','Age':30,'Emp_ID':10011}

del employees['Age']

employees

{'Emp_name': 'Kunal',
 'Salary': 80000,
 'Designation': 'Data Scientist',
 'Emp_ID': 10011}

In [45]:
del employees
employees

NameError: name 'employees' is not defined

# Nested Dictionary

In [46]:
emp_records = {'CG001':{'Name':'Rohit','Age':30},
              'CG002':{'Name':'Kishan','Age':21},
              'CG003':{'Name':'Hardik','Age':27}}

emp_records['CG001']

{'Name': 'Rohit', 'Age': 30}

In [47]:
emp_records['CG001']['Name']

'Rohit'

In [48]:
import pandas as pd
df=pd.DataFrame(emp_records)
df.T

         Name Age
CG001   Rohit  30
CG002  Kishan  21
CG003  Hardik  27

In [49]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','English']

dict1= {}

for i,key in enumerate(subjects):
    for j in range(len(marks)):
        if i == j:
            dict1[key]=marks[j]
            
dict1

{'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

In [51]:
subjects = {'Math': 90, 'Science': 91, 'Geo': 86, 'History': 95,'Math':99}

subjects.update({'Math':100})

In [52]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','Geo']

dict1= {}

for i,key in enumerate(subjects):
    for j in range(len(marks)):
        if i == j:
            dict1[key]=marks[j]
            
dict1

{'Math': 90, 'Science': 91, 'Geo': 86, 'History': 95}

In [53]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','English']

dict1= {}

for i,key in enumerate(marks):
    for j in range(len(subjects)):
        if i == j:
            dict1[key]=subjects[j]
            
dict1

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

In [54]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','English']

dict1= {}

for i,key in enumerate(subjects):
    dict1.update({key:marks[i]})
            
dict1

{'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

# Zip function

In [55]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','English']

my_dict=dict(zip(subjects,marks))
my_dict

{'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

In [56]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','English']

my_dict=dict(zip(marks,subjects))
my_dict

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

In [57]:
marks = [90,91,93,95,86]
subjects = ['Math','Science','Geo','History','English']

my_dict=list(zip(marks,subjects))
my_dict

[(90, 'Math'), (91, 'Science'), (93, 'Geo'), (95, 'History'), (86, 'English')]

In [58]:
list1 = [(90, 'Math'), (91, 'Science'), (93, 'Geo'), (95, 'History'), (86, 'English')]

dict(list1)

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

# Wap to take a range & create a dict such that the range values becomes the keys & their sqaured values becomes the values of the dict

# dictionary comprehension

In [59]:
dict1={i:i**2 for i in range(6)}
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [60]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# Wap to count the occurance of words in a string. keep the counts in a dictionary

In [61]:
string = '''the quantities, characters, or symbols on which operations are performed by a computer, which may be stored and transmitted in the form of electrical signals and recorded on magnetic, optical, or mechanical recording media.'''

count = {}
for i in string.split():
    count[i]=string.count(i)
    
count

{'the': 2,
 'quantities,': 1,
 'characters,': 1,
 'or': 7,
 'symbols': 1,
 'on': 3,
 'which': 2,
 'operations': 1,
 'are': 1,
 'performed': 1,
 'by': 1,
 'a': 17,
 'computer,': 1,
 'may': 1,
 'be': 1,
 'stored': 1,
 'and': 2,
 'transmitted': 1,
 'in': 2,
 'form': 2,
 'of': 1,
 'electrical': 1,
 'signals': 1,
 'recorded': 1,
 'magnetic,': 1,
 'optical,': 1,
 'mechanical': 1,
 'recording': 1,
 'media.': 1}

In [62]:
from collections import Counter
Counter(string.split())

Counter({'the': 2,
         'quantities,': 1,
         'characters,': 1,
         'or': 2,
         'symbols': 1,
         'on': 2,
         'which': 2,
         'operations': 1,
         'are': 1,
         'performed': 1,
         'by': 1,
         'a': 1,
         'computer,': 1,
         'may': 1,
         'be': 1,
         'stored': 1,
         'and': 2,
         'transmitted': 1,
         'in': 1,
         'form': 1,
         'of': 1,
         'electrical': 1,
         'signals': 1,
         'recorded': 1,
         'magnetic,': 1,
         'optical,': 1,
         'mechanical': 1,
         'recording': 1,
         'media.': 1})

# Sorting the dictionary by keys

In [63]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

sorted_keys=sorted(subjects)

sorted_dict = {}
for i in sorted_keys:
    sorted_dict[i]=subject[i]
    
sorted_dict

{'English': 86, 'Geo': 93, 'History': 95, 'Math': 90, 'Science': 91}

In [64]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

sorted_items=sorted(subject.items())
print(sorted_items)

sorted_dict=dict(sorted_items)
sorted_dict

[('English', 86), ('Geo', 93), ('History', 95), ('Math', 90), ('Science', 91)]

{'English': 86, 'Geo': 93, 'History': 95, 'Math': 90, 'Science': 91}

# Sorting by values of the dict

In [65]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}
sorted_dict={}
for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

sorted_items=sorted(new_dict.items())
# print(sorted_items)

sorted_dict=dict(sorted_items)
print(sorted_dict)

final_dict={}
for key,value in sorted_dict.items():
    final_dict[value] = key
print(final_dict)

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}
{86: 'English', 90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History'}
{'English': 86, 'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95}

In [66]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}
sorted_dict={}

for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

for key in sorted(new_dict.keys()):
    sorted_dict[key] = new_dict[key]
    
sorted_dict

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

{86: 'English', 90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History'}

In [67]:
subject = {'Math': 90, 'Science': 91, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}

for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

dict(sorted(new_dict.items()))

{90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

{86: 'English', 90: 'Math', 91: 'Science', 93: 'Geo', 95: 'History'}

In [68]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}

new_dict = {}

for key,value in subject.items():
    new_dict[value] = key
print(new_dict)

dict(sorted(new_dict.items()))

{90: 'Science', 93: 'Geo', 95: 'History', 86: 'English'}

{86: 'English', 90: 'Science', 93: 'Geo', 95: 'History'}

## sorting the dict if dict has duplicate values

In [69]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}

keys = list(subject.keys())
values = list(subject.values())
print(keys,values)

for i in range(len(values)):
    for j in range(i+1,len(values)):
        if values[i] > values[j]:
            
            values[i],values[j]=values[j],values[i]
            keys[i],keys[j]=keys[j],keys[i]
            
dict(zip(keys,values))

['Math', 'Science', 'Geo', 'History', 'English'] [90, 90, 93, 95, 86]

{'English': 86, 'Science': 90, 'Math': 90, 'Geo': 93, 'History': 95}

## Fromkeys()

It sets a perticular value to all the keys
fromkeys(sequence,value)
default value is none

In [70]:
dict.fromkeys(['a','e','i','o','u'])

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}

In [71]:
dict.fromkeys(['a','e','i','o','u'],'vovels')

{'a': 'vovels', 'e': 'vovels', 'i': 'vovels', 'o': 'vovels', 'u': 'vovels'}

In [72]:
dict.fromkeys(['a','e','i','o','u'],[1,2,3,4,5])

{'a': [1, 2, 3, 4, 5],
 'e': [1, 2, 3, 4, 5],
 'i': [1, 2, 3, 4, 5],
 'o': [1, 2, 3, 4, 5],
 'u': [1, 2, 3, 4, 5]}

## copy & deepcopy

works the same way as theey work on list

for single order dict, copy works well or same as deepcopy while in nested dictionary copy doesn't work well. For nested dict we need deepcopy.

In [73]:
subject = {'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}

marks = subject.copy()

marks['Math']=100

print(subject)
print(marks)

{'Math': 90, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}
{'Math': 100, 'Science': 90, 'Geo': 93, 'History': 95, 'English': 86}

In [74]:
emp_records = {'CG001':{'Name':'Rohit','Age':30},
              'CG002':{'Name':'Kishan','Age':21},
              'CG003':{'Name':'Hardik','Age':27}}

employees = emp_records.copy()
employees['CG001']['Name']='Pollard'

print(employees,emp_records,sep='\n\n')

{'CG001': {'Name': 'Pollard', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 21}, 'CG003': {'Name': 'Hardik', 'Age': 27}}

{'CG001': {'Name': 'Pollard', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 21}, 'CG003': {'Name': 'Hardik', 'Age': 27}}

In [75]:
from copy import deepcopy

In [76]:
emp_records = {'CG001':{'Name':'Rohit','Age':30},
              'CG002':{'Name':'Kishan','Age':21},
              'CG003':{'Name':'Hardik','Age':27}}

employees = deepcopy(emp_records)
employees['CG001']['Name']='Pollard'

print(employees,emp_records,sep='\n\n')

{'CG001': {'Name': 'Pollard', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 21}, 'CG003': {'Name': 'Hardik', 'Age': 27}}

{'CG001': {'Name': 'Rohit', 'Age': 30}, 'CG002': {'Name': 'Kishan', 'Age': 21}, 'CG003': {'Name': 'Hardik', 'Age': 27}}