Functions:
    Functions are the block of codes which we can run or call or use as and when required.
    Functions are organised block of codes.
    Functions are Procedural Programing Concept.
    Functions are also called as Methods
    
    Functions will be executed when they are called.
    Functions are used to modularize the codes.
    
2 Types of functions:
    Inbuild function: max, min, len etc..
    User Defined Functions
    
2 parts of the functions are:
    Declaration or Creation of the function
    calling of the functions or using the function

def >> defination or defining a function

def function_name(parameters):   # defining a function
    statements
    codes  
    return output                # optional

function_name(arguments)        # calling of function

In [1]:
print('Hi Python')
print('We are learning Python')

Hi Python
We are learning Python

In [2]:
def printing():
    print('Hi Python')
    print('We are learning Python')

In [3]:
printing()

Hi Python
We are learning Python

In [4]:
def first_function():
    for i in range(5):
        print(f'i is {i}')
        
first_function()

i is 0
i is 1
i is 2
i is 3
i is 4

In [5]:
first_function()

i is 0
i is 1
i is 2
i is 3
i is 4

In [6]:
def sum_average(a,b,c):
    
    sumatn = a+b+c
    avg = (a+b+c) / 3
    
    return sumatn,avg

x,y,z = 10,20,30

addition, mean = sum_average(x,y,z)

In [7]:
addition

60

In [8]:
mean

20.0

In [9]:
i,j,k = 10,20,30

def sum_average(a,b,c):
    
    sumatn = a+b+c
    avg = (a+b+c) / 3
    
    return sumatn,avg



sum_average(i,j,k)

(60, 20.0)

a local variable can be accesed only within the well defined body of the function
whereas global variable can be called within or outside the function

In [10]:
def sum_average(a,b,c):
    d = 40                   # local variable
    sumatn = a+b+c+d
    avg = (a+b+c+d) / 4
    
    return sumatn,avg

x,y,z = 10,20,30

sum_average(x,y,z)

(100, 25.0)

In [11]:
d = 40       # global variable

def sum_average():
                     
    sumatn = o+m+n+d
    avg = (x+y+z+d) / 4
    
    return sumatn,avg

    # global variable

sum_average()

o,m,n = 10,20,30

NameError: name 'o' is not defined

In [12]:
d = 40       # global variable

def sum_average():
    global e
    e = 10                 
    sumatn = o+m+n+d
    avg = (x+y+z+d+e) / 5
    print(e)
    return sumatn,avg
o,m,n = 10,20,30  

print(sum_average())

e

10
(100, 22.0)

10

In [13]:
sum_average(),e

10

((100, 22.0), 10)

In [14]:
def sum_average():
    global g
    g = 10 
    sumatn = 100*g
    return sumatn

In [15]:
sum_average()

1000

# Arguements

as far as the positional arguements are concerned, no. of arguements has to be exactly equal to the no. of params passed

no. of params = no. of agruments

arguments = parameters

In [16]:
def sum_average(a,b,c):
    print('nums are: ',a,b,c)
    
sum_average(10,10,10)

nums are:  10 10 10

In [17]:
def sum_average(a,b,c):
    print('nums are: ',a,b,c)
    
sum_average(10,10)

TypeError: sum_average() missing 1 required positional argument: 'c'

In [18]:
def sum_average(a,b,c):
    print('nums are: ',a,b,c)
    
sum_average(10,10,10,10)

TypeError: sum_average() takes 3 positional arguments but 4 were given

In [19]:
def squared_list(listy):
    return [i**2 for i in listy]

squared_list([2,3,4])

[4, 9, 16]

In [20]:
squared_list([5,0,-2])

[25, 0, 4]

In [21]:
# Define a function that can evaluate out even & odd numbers from the list. return the even list & odd list as an output of the function

def even_odd(listy):
    return [i for i in listy if i%2==0],[i for i in listy if i%2!=0]

even,odd = even_odd([2,3,4,5,6,9,0])
print(even, odd, sep='\n')

[2, 4, 6, 0]
[3, 5, 9]

# Return

Return is used to end the function or break the function & return a specific value, value from the function
return can also be empty meaning we are not returning anything from the function
One function can have multiple returns

In [22]:
def even_odd(listy):
    return 

even_odd([2,3,4,5,6,9,0])

In [23]:
def even_odd(listy):
    return 

even_odd([2,3,4,5,6,9,0])

In [24]:
def even_odd_num(number):
    if number%2==0:
        return 'even'
    else:
        return 'odd'
    print('THANKS FOR EVALUATION')

even_odd_num(111)

'odd'

In [25]:
def even_odd_num(number):
    for i in range(len(number)):
        if number[i] % 2==0:
             return 'even'
        else:
            return 'odd'
        print('THANKS FOR EVALUATION')

even_odd_num([111,222,333,444])

'odd'

# Yield

In [26]:
def even_odd_num(number):
    for i in range(len(number)):
        if number[i] % 2==0:
             yield 'even'
        else:
            yield 'odd'
        print('THANKS FOR EVALUATION')

x = even_odd_num([111,222,333,444])
x

In [27]:
list(x)

THANKS FOR EVALUATION
THANKS FOR EVALUATION
THANKS FOR EVALUATION
THANKS FOR EVALUATION

['odd', 'even', 'odd', 'even']

In [28]:
def even_odd_num(number):
    for i in range(len(number)):
        if number[i] % 2==0:
             yield 'even'
        else:
            yield 'odd'

x = even_odd_num([111,222,333,444])
# print(next(x))
# print(next(x))
# print(next(x))
# print(next(x))

In [43]:
def even_odd_num(number):
    for i in range(len(number)):
        if number[i] % 2==0:
             yield f'{number[i]} is even'
        else:
            yield f'{number[i]} is odd'

x = even_odd_num([111,222,333,444])

In [44]:
for i in range(4):
    print(next(x))

111 is odd
222 is even
333 is odd
444 is even

In [40]:
def nums(x):
    for i in x:
        yield i
        
        
z = nums([1,2,3,4])

print(next(z))

1

In [45]:
for i in x:print(i)

In [46]:
[i for i in x]

[]

In [47]:
def even_odd_num(number):
    for i in range(len(number)):
        if number[i] % 2==0:
             yield f'{number[i]} is even'
        else:
            yield f'{number[i]} is odd'

list(even_odd_num([111,222,333,444]))

['111 is odd', '222 is even', '333 is odd', '444 is even']

Recursive Function:
when a functions calls itself...

In [49]:
%%time

def function_name(a,fact):
    facto = fact*a
    a-=1
    if a == 0:
        return facto
    return function_name(a,facto)

user_num = int(input())
function_name(user_num,1)

6
Wall time: 3.45 s

720

In [50]:
def factorial(n):
    if n < 0:
        return "factorial of -ve numbers doesn't exist"
    elif n <= 1:
        return 1
    else:
        return n * factorial (n-1)
    
factorial(5)

120

function called >> value of n >> return output
1 >>5>> 5 * factorial(4)
2 >>4>> 4 * factorial(3)
3 >>3>> 3 * factorial(2)
4 >>2>> 2 * factorial(1)
5 >>1>> 1

In [52]:
def fibo(n):
    if n <= 1 and n > -1:
        return n
    return fibo(n-2)+fibo(n-1)

for i in range(0,10):   # 0,1,2
    print(fibo(i),end=' ')

0 1 1 2 3 5 8 13 21 34