Regex(RE):
    is one of the fundamental library of python that deals with the text data.
    It uses functions that creates a sequence of characters that forms the search pattern on the data
    Natural Language Processing, Remove Noise, Skew correction
    suggesting future words
    used in recomendation system
    Text Processing - analyzing the text data for getting structured information.
    When we use OCR on image then post OCR techniques regex is used.
    Web scapping - extracting data from websites
    data cleaing - data mining,processing the raw data.

regrex >> re >> Regular Expression

import re

In [1]:
import re

# Findall()

return a list of items that matches the search pattern

found_item = re.findall(pattern,string_data)

NOTE: what we pass in curly bracesses is the length of the pattern. the pattern is passed in square brackets.

In [2]:
text = '''MY Mobile no. is 8456758965
& my mail id is pratikkanpurwar7@gmail.com
& my alternate NUMBER is 8567985312'''

# finding 10 digits number in text above

mobile_numbers = re.findall('[0-9]{10}',text)
mobile_numbers

['8456758965', '8567985312']

In [3]:
re.findall('[0-9]{2}',text)

['84', '56', '75', '89', '65', '85', '67', '98', '53', '12']

In [4]:
capitals = re.findall('[A-Z]{2}',text)
capitals

['MY', 'NU', 'MB', 'ER']

In [5]:
small = re.findall('[a-z]{5}',text)
small

['obile', 'prati', 'kkanp', 'urwar', 'gmail', 'alter']

In [6]:
letters = re.findall('[A-Z0-9]{10}',text)
letters

['8456758965', '8567985312']

## Variable Length of pattern

In [7]:
letters = re.findall('[A-Z]{2,10}',text)
letters

['MY', 'NUMBER']

In [8]:
letters = re.findall('[a-z]{2,10}',text)
letters

['obile',
 'no',
 'is',
 'my',
 'mail',
 'id',
 'is',
 'pratikkanp',
 'urwar',
 'gmail',
 'com',
 'my',
 'alternate',
 'is']

In [9]:
text = '''MY Mobile no. is 8456757965
& my mail id is pranavsangame19957@gmail.com
& my alternate NUMBER is +91 8567985312 
& my alternate mail id is Pratikk@gmail.com
Pratik999@yahoo.com, pranav@amdocs.co.in, hr@cognizant.com, 
pratik123sangame@rediffmail.com, omkar@IITDELHI.edu.in
Rohit_007@BCCI.com'''

mail_ids = re.findall('[A-Za-z0-9]{1,20}[@][A-Za-z]{5}[.][A-z]{3}',text)
mail_ids

['pranavsangame19957@gmail.com', 'Pratikk@gmail.com', 'Pratik999@yahoo.com']

In [10]:
mail_ids = re.findall('[A-z0-9_]{1,20}[@][A-Za-z.]{8,15}',text)
mail_ids

['pranavsangame19957@gmail.com',
 'Pratikk@gmail.com',
 'Pratik999@yahoo.com',
 'pranav@amdocs.co.in',
 'hr@cognizant.com',
 'pratik123sangame@rediffmail.com',
 'omkar@IITDELHI.edu.in',
 'Rohit_007@BCCI.com']

In [11]:
mail_ids = re.findall('[+0-9 ]{16}',text)
mail_ids

[' +91 8567985312 ']

In [12]:
mail_ids = re.findall('[+0-9]{3}[ ][0-9]{10}',text)
mail_ids

['+91 8567985312']

In [13]:
mail_ids = re.findall('[A-z0-9_@.]{15,40}',text)
mail_ids

['pranavsangame19957@gmail.com',
 'Pratikk@gmail.com',
 'Pratik999@yahoo.com',
 'pranav@amdocs.co.in',
 'hr@cognizant.com',
 'pratik123sangame@rediffmail.com',
 'omkar@IITDELHI.edu.in',
 'Rohit_007@BCCI.com']

In [14]:
pan_data = """pan card numbers:
ASHBU7834G
MHJGG4857F
ahbdy9023F
12skk6457k
A_HJK9023H
AGHK89049J
AFLAF89070
KLHIP****G

Dates:
20-10-2022
32-09-2021"""

In [15]:
pan = re.findall('[A-Z]{5}[0-9]{4}[A-Z]',pan_data)
pan

['ASHBU7834G', 'MHJGG4857F']

In [16]:
date = re.findall('[-0-9]{10}',pan_data)
date

['20-10-2022', '32-09-2021']

In [17]:
date = re.findall('[0-9]{2}[-][0-9]{2}[-][0-9]{4}',pan_data)
date

['20-10-2022', '32-09-2021']

# Special Sequence

## \d

\d >> 0-9 #is only used for digits varying from 0-9

In [18]:
adhars = """2344 2345 3255
1243 23544 235
1235  3456 3555
34f5 3566 4335
345_ 3456 3567"""

adhar_nums = re.findall('[\d]{4}[ ]\d{4}[ ]\d{4}',adhars)
adhar_nums

['2344 2345 3255']

In [19]:
adhar_nums = re.findall('\d{4}\s\d{4}\s\d{4}',adhars)
adhar_nums

['2344 2345 3255']

In [20]:
adhar_nums = re.findall('[0-9 ]{14}',adhars)
adhar_nums

['2344 2345 3255', '1243 23544 235', '1235  3456 355']

In [21]:
adhar_nums = re.findall('[\d\s]{14}',adhars)
adhar_nums

['2344 2345 3255', '\n1243 23544 23', '5\n1235  3456 3', '5 3566 4335\n34']

## \D

\D >> everything apart from digits 0-9 >> except digits >> [^0-9]

In [22]:
IPL = """The IPL is the most-attended cricket league in the world and in 2014 was ranked sixth by average attendance among all sports leagues.[3] In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube.[4][5] The brand value of the IPL in 2019 was ₹47,500 crore (US$6.2 billion), according to Duff & Phelps.[6] According to BCCI, the 2015 IPL season contributed ₹1,150 crore (US$150 million) to the GDP of the Indian economy.[7] The 2020 IPL season set a massive viewership record with 31.57 million average impressions and with an overall consumption increase of 23 per cent from the 2019 season."""

In [23]:
extracted_data = re.findall('\s\D{1,20}\s',IPL)
extracted_data

[' IPL is the ',
 ' cricket league in ',
 ' world and in ',
 ' was ranked sixth by ',
 ' attendance among all ',
 ' In ',
 ' the IPL became the ',
 ' sporting event in ',
 ' world to be ',
 ' live on ',
 ' The brand value of ',
 ' IPL in ',
 ' was ',
 ' crore ',
 ' billion), according ',
 ' Duff & ',
 ' According to BCCI, ',
 ' IPL season ',
 ' crore ',
 ' million) to the GDP ',
 ' the Indian ',
 ' The ',
 ' IPL season set a ',
 ' viewership record ',
 ' million average ',
 ' and with an overall ',
 ' increase of ',
 ' per cent from the ']

## \s

\s >> [ ] >> used for spaces

In [24]:
adhars = """2344 2345 3255
1243 23544 235
1235  3456 3555
34f5 3566 4335
345_ 3456 3567"""

adhar_nums = re.findall('\d{4}\s\d{4}\s\d{4}',adhars)
adhar_nums

['2344 2345 3255']

In [28]:
IPL = """The IPL is the most-attended     cricket league in the world and in 2014 was ranked sixth by average attendance among all sports leagues.[3] In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube.[4][5] The brand value of the IPL in 2019 was ₹47,500 crore (US$6.2 billion),according to Duff & Phelps.[6] According to BCCI, the 2015 IPL season contributed ₹1,150 crore (US$150 million)  to the GDP of the Indian economy.[7] The 2020 IPL season set a massive viewership record with 31.57 million average impressions and with an overall consumption increase of 23 per cent from the 2019 season."""
extracted_data = re.findall('\s\s',IPL)
extracted_data

['  ', '  ', '  ']

In [29]:
extracted_data = re.findall('\s{2}',IPL)
extracted_data

['  ', '  ', '  ']

In [30]:
extracted_data = re.findall('\s{2,30}',IPL)
extracted_data

['     ', '  ']

## \S

\S >> eveything apart from spaces >> [^ ]

In [31]:
IPL = """The IPL is the most-attended cricket league in the world and in 2014 was ranked sixth by average attendance among all sports leagues.[3] In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube.[4][5] The brand value of the IPL in 2019 was ₹47,500 crore (US$6.2 billion),according to Duff & Phelps.[6] According to BCCI, the 2015 IPL season contributed ₹1,150 crore (US$150 million)  to the GDP of the Indian economy.[7] The 2020 IPL season set a massive viewership record with 31.57 million average impressions and with an overall consumption increase of 23 per cent from the 2019 season."""
extracted_data = re.findall('[\S]{2,20}',IPL)
string = ' '.join(extracted_data)
processed_data = re.findall('\s\D{1,20}\s',string)
final_data = ' '.join(processed_data)
final_data.replace('  ',' ').replace('  ',' ')

' IPL is the cricket league in world and in was ranked sixth by attendance among all In the IPL became the sporting event in world to be live on The brand value of IPL in was crore billion),according Duff According to BCCI, IPL season crore million) to the GDP the Indian The IPL season set viewership record million average and with an overall increase of per cent from the '

# Finditer()

it returns all the matches found & their span in the string in the object format
the span in the object informs us about the indexes where the match is found
if the match is not found then it creates an empty object 
& if the match is found then the object could have multiple entries

In [37]:
data = """(used as a plural noun in technical English, when the singular is datum) facts or information"""

extracted_data = re.finditer('\S{1,11}',data)
extracted_data

for i in extracted_data:
    print(i.group())
   # print(i.span())

(used
as
a
plural
noun
in
technical
English,
when
the
singular
is
datum)
facts
or
information

In [36]:
list(extracted_data)

[]

In [38]:
data[0:5]

'(used'

In [39]:
data = """(used as a plural noun in technical English, when the singular is datum) facts or information"""

pattern = re.compile('\S{1,11}')

extracted_data = pattern.finditer(data)

empty = list()

for i in extracted_data:
    empty = empty+re.findall('\w{1,15}',i.group())

empty = ' '.join(empty)
empty

'used as a plural noun in technical English when the singular is datum facts or information'

In [40]:
['used']+['hi']

['used', 'hi']

## \w

\w >> [A-z0-9]  >> all alphabets & numbers only

In [41]:
data = """(used as a plural noun in technical English, when the singular is datum) facts or information 999"""

found = re.findall('\w{1,15}',data)
found

['used',
 'as',
 'a',
 'plural',
 'noun',
 'in',
 'technical',
 'English',
 'when',
 'the',
 'singular',
 'is',
 'datum',
 'facts',
 'or',
 'information',
 '999']

## \W

\W >> all special characters including spaces >> [^A-z0-9]

In [42]:
data = """(used as a plural noun in & technical English, when the singular* is datum) facts or information 999"""

found = re.findall('\W{1,15}',data)
print(found)
# ''.join(re.findall('\S',' '.join(found)))

['(', ' ', ' ', ' ', ' ', ' ', ' & ', ' ', ', ', ' ', ' ', '* ', ' ', ') ', ' ', ' ', ' ']

## \b

check for charcters at the begenning & at the end of the word
nothing should be there in continuatioin before \b if its in the begening & nothing should be there in continuation after \b if its at the end

In [43]:
data = """us+ed as a plur+al noun in & technical English, when the singular* is datum) facts or information 999"""

found = re.findall(r'\b[A-z+0-9]{1,15}',data)
print(found)

['us+ed', 'as', 'a', 'plur+al', 'noun', 'in', 'technical', 'English', 'when', 'the', 'singular', 'is', 'datum', 'facts', 'or', 'information', '999']

In [44]:
numbers = """ 8754569321 54867896541 8465132132145"""
re.findall(r'\b\d{10}\b',numbers)

['8754569321']

In [45]:
ifsc_codes = """ASHV0002153
FHDfC4869532
KOTK7894561 
AXIS789456421"""

re.findall(r'\b[A-Z]{4}[0-9]{7}\b',ifsc_codes)

['ASHV0002153', 'KOTK7894561']

# Search

It searches for a match & returns the object of the first occurance only

re.search(pattern, text)

In [46]:
data = """u+sed as a plur+al noun in & technical English, when the singular* is datum) facts or information 999"""

found = re.search(r'\b[A-z0-9]{5,15}',data)
print(found)

<re.Match object; span=(29, 38), match='technical'>

In [47]:
found.group()

'technical'

In [48]:
found.span()

(29, 38)

In [49]:
found.start()

29

In [50]:
found.end()

38

# Match

checks for the oth index item of the string. if that matches the pattern then it will return an object.

In [51]:
data = """0used as a plur+al noun in & technical English, when the singular* is datum) facts or information 999"""

found = re.match(r'\d\w{1,3}',data)
print(found)

<re.Match object; span=(0, 4), match='0use'>

In [52]:
print(found.group())
print(found.span())
print(found.start())
print(found.end())

0use
(0, 4)
0
4

# Sub()

It is used to replace all the formats that matches our pattern with a substring

Syntax:

re.sub('pattern','string to be replace with','text where pattern is to be replaced')

In [53]:
string = "Python & Data Science Learning"

string.replace('Python','ML')

'ML & Data Science Learning'

In [54]:
import re
string = "Python & Data Science Learning Programming."

re.sub(r'\bP[A-z]{10}[.]','ML',string)

'Python & Data Science Learning ML'

In [55]:
text = """Mobile numbers:
8751326594
another number is
9435621578
7855643321"""

re.findall('\w{2,12}',text)
# print(re.sub('\d','+',text))
x = re.sub('\d{10}','',text)
print(x)

Mobile numbers:

another number is

In [56]:
re.sub('\n',' ',x)

'Mobile numbers:  another number is  '

In [57]:
text = """Mobile          numbers:
8751326594
another    number is
9435621578
         7855643321"""

pro_text = re.sub('\s+',' ',text)
pro_text

'Mobile numbers: 8751326594 another number is 9435621578 7855643321'

In [58]:
pro_text = re.sub('\s{1,20}',' ',text)
print(pro_text)

Mobile numbers: 8751326594 another number is 9435621578 7855643321

In [59]:
pro_text = re.sub('\s{2,20}',' ',text)
print(pro_text)

Mobile numbers:
8751326594
another number is
9435621578 7855643321

In [60]:
final_list = (re.sub("\s+",' ',(re.sub("\D",' ',(re.sub('A',' ',(re.sub('\W','',re.sub(' ','A',pro_text))))))))).split(' ')

In [61]:
listee= []
for i in final_list:
    if i.isdigit():
        listee.append(i)
    else:
        pass
        
listee

['8751326594', '9435621578', '7855643321']

In [62]:
z = re.sub('[^\s\d]','',text)
print(re.sub('\s+',' ',z))

 8751326594 9435621578 7855643321

# Complie()

In [63]:
numbers = "68543 643 68435 8432 65435643 6543213854 684564"

pattern = re.compile(r'\b\d{5}\b')

# re.findall(pattern,numbers)

In [64]:
pattern.findall(numbers)

['68543', '68435']

In [65]:
numbers = "68543 643 68435 8432 65435643 6543213854 684564"

pattern = r'\b\d{5}\b'

re.findall(pattern,numbers)

['68543', '68435']

# Match characters

## Characters with special meaning in re

### + (plus)

+ >> one or more occurances

In [66]:
string = "Python & Data     Science Learning Programming."

print(re.findall('\s+',string))

re.sub('\s+',' ',string)

[' ', ' ', '     ', ' ', ' ']

'Python & Data Science Learning Programming.'

In [67]:
string = "Python & Data Scccccience Learning Pppppprogramming."

re.findall('p+',string)

['ppppp']

In [68]:
re.findall('pythonn+',data)

[]

In [69]:
re.findall('pythonn+',data)

[]

In [70]:
a = 'python'
re.findall(f'python+{a*2}+',data)

[]

In [71]:
re.findall('[python][python]+',data)

['no', 'hn', 'th', 'on']

In [72]:
re.findall(f'{a}[{a}]+',data)

[]

### * (astrix)

* >> zero or more occurances

In [73]:
data = "python pyhonn pythonpythonpythonpython pyttttttthon pythonpython"

text = re.findall('pyt*hon',data)
text

['python',
 'pyhon',
 'python',
 'python',
 'python',
 'python',
 'pyttttttthon',
 'python',
 'python']

In [74]:
raw_data = """ICICI8456 AXIS7854F HDFC12365 KOTAK0350"""

fetched_data = re.findall('[A-Z]{4}[A-Z]*[0-9]{4}[A-Z]*',raw_data)
fetched_data

['ICICI8456', 'AXIS7854F', 'HDFC1236', 'KOTAK0350']

In [75]:
s=re.sub('python','#',data)
t=re.findall('##+',s)
re.sub('#','python',' '.join(t))

'pythonpythonpythonpython pythonpython'

### . (dot)

Any character for only 1 occurance
it accepts all the special characters including spaces & alphabets & numbers

In [76]:
import re
data = 'python and data science class pytxhon pyttttttthon pyt- pyt'

re.findall('pyt.',data)

['pyth', 'pytx', 'pytt', 'pyt-']

In [77]:
re.findall('data science class pyt.+',data)

['data science class pytxhon pyttttttthon pyt- pyt']

In [78]:
re.findall('pyt[.]+',data)

[]

In [79]:
re.findall('pyt.*',data)

['python and data science class pytxhon pyttttttthon pyt- pyt']

In [80]:
re.findall('pyt....t',data)

['pytttttt', 'pyt- pyt']

<.*?>   # non greedy repetation

### ? ( Question mark)

checks for 0 or 1 occurance
everything before also has to match
everything after ? there pattern should stop

In [82]:
data = 'python and data science class pytxhon pyttttttthon py- pyt'

re.findall('pyt+',data)

['pyt', 'pyt', 'pyttttttt', 'pyt']

In [83]:
re.findall('pyt*',data)

['pyt', 'pyt', 'pyttttttt', 'py', 'pyt']

In [84]:
re.findall('pyt?',data)

['pyt', 'pyt', 'pyt', 'py', 'pyt']

In [85]:
data = 'python and data science class pytxhon pyttttttthon py- pyt.ipynb'
re.findall('p.*? ',data)

['python ', 'pytxhon ', 'pyttttttthon ', 'py- ']

In [86]:
re.findall('p.*?[. ]',data)

['python ', 'pytxhon ', 'pyttttttthon ', 'py- ', 'pyt.']

### ^ startswith & except the pattern search for everything else

# except pattern search for everything else

\W >> [^A-z0-9]

In [87]:
data = 'python and data science class pytxhon pyttttttthon py- pyt'

re.findall('[^A-z]',data)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', '-', ' ']

In [88]:
data = 'python and data science class pytxhon pyttttttthon py- pyt'

re.findall('[^p]',data)

['y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'c',
 'l',
 'a',
 's',
 's',
 ' ',
 'y',
 't',
 'x',
 'h',
 'o',
 'n',
 ' ',
 'y',
 't',
 't',
 't',
 't',
 't',
 't',
 't',
 'h',
 'o',
 'n',
 ' ',
 'y',
 '-',
 ' ',
 'y',
 't']

# use for startswith

In [89]:
data = 'xython and data science class pytxhon pyttttttthon py- pyt'

list(re.finditer('py',data))[0]

In [92]:
re.match('py',data)

In [91]:
data.startswith('py')

False

In [93]:
re.findall('^py',data)

[]

In [94]:
re.findall('^.',data)

['x']

In [95]:
re.findall('^p.',data)

[]

In [96]:
data = 'python and data science class pytxhon pyttttttthon py- pyt'

re.findall('^python.+',data)

['python and data science class pytxhon pyttttttthon py- pyt']

# Note: difference is where you use ^
inside square braces means behaces as except the pattern
outside square braces or for otherwise it behaves as startswith

In [97]:
re.findall('^[python]',data)

['p']

In [98]:
re.findall('^[python].+',data)

['python and data science class pytxhon pyttttttthon py- pyt']

In [99]:
re.findall('[^python].+',data)

[' and data science class pytxhon pyttttttthon py- pyt']

### $ endswith

In [100]:
data = 'python and data science class pytxhon pyttttttthon py- pyt.ipynb'

re.findall('nb$',data)

['nb']

In [101]:
re.findall('[.]ipynb$',data)

['.ipynb']

In [102]:
re.findall('.ipynb$',data)

['.ipynb']

In [103]:
re.findall('.+[.ipynb]$',data)

['python and data science class pytxhon pyttttttthon py- pyt.ipynb']

### [ ]

used to define a set of chracters that will form a search pattern in thate string

### { }

used to define a variable length of chracters in the search pattern

### | (pipe)

is used for or purpose

In [104]:
data = 'python and data science 999 class pytxhon AND pyttttttthon py- pyt.py'

re.findall('nb$|py$',data)

['py']

In [105]:
re.findall('[A-Z]{3}|[0-9]{03}',data)

['999', 'AND']

In [106]:
re.findall(r'\bp.+? |\bd.+? |\bc.+? ',data)

['python ', 'data ', 'class ', 'pytxhon ', 'pyttttttthon ', 'py- ']

In [107]:
re.findall('p[p-z]+|[A-Z]+|[0-9]+',data)

['pyt', '999', 'pytx', 'AND', 'pyttttttt', 'py', 'pyt', 'py']

In [108]:
# Wap to find the dates fromo the data

data = """23/10/2022
12/9/2022
13-9-2022
15,8,2022
15 August 2022
hi there * %"""

In [109]:
re.findall(r"[0-9]{1,2}[-/, ][A-z0-9]{1,10}[-/, ][0-9]{0,4}",data)

['23/10/2022', '12/9/2022', '13-9-2022', '15,8,2022', '15 August 2022']

In [110]:
re.findall(r"\d{1,2}[-/, ]\d{1,2}[-/, ]\d{0,4}|\d{1,2}[-/, ]\w{3,10}[-/, ]\d{0,4}",data)

['23/10/2022', '12/9/2022', '13-9-2022', '15,8,2022', '15 August 2022']